In [77]:
import pandas as pd
import numpy as np

In [78]:
pl0 = pd.read_csv("Plants_next.csv")

In [79]:
# pl0

In [80]:
pl0.loc[pl0["ersetzt?"] == "Nein"].groupby("ersetzt?").count()

          plantid  name  KWK  Ersatz  Weiterbetrieb  Sonderfall  Unnamed: 7
ersetzt?
Nein           13    13   13       0              3           2           1

In [81]:
pl1 = pl0.groupby(["Ersatz"]).count().reset_index()

In [82]:
pl2 = pl1.rename(columns={ "plantid": "count"})
cols = [2, 3, 4, 5, 6, 7]
pl3 = pl2.drop(pl2.columns[cols],axis=1)

In [83]:
pl3.dtypes

Ersatz    object
count      int64
dtype: object

In [84]:
pl4 = pl3.loc[:]

In [85]:
pl4.loc[pl4.Ersatz=="800x1", 'netpower'] = 80.7
pl4.loc[pl4.Ersatz=="800x2", 'netpower'] = 161.1
pl4.loc[pl4.Ersatz=="9000x1", 'netpower'] = 837.9
pl4.loc[pl4.Ersatz=="9000x2", 'netpower'] = 1675.8

In [86]:
pl4.loc[pl4.Ersatz=="800x1", 'cost'] = 100
pl4.loc[pl4.Ersatz=="800x2", 'cost'] = 200
pl4.loc[pl4.Ersatz=="9000x1", 'cost'] = 450
pl4.loc[pl4.Ersatz=="9000x2", 'cost'] = 800

In [87]:
pl4.dtypes

Ersatz       object
count         int64
netpower    float64
cost        float64
dtype: object

In [88]:
pl5 = pl4.loc[:]

In [89]:
# pl5.loc["totalpower"] = pl5.loc["netpower"] * pl5.loc["count"]
pl5['totalpower'] = pl5["netpower"] * pl5["count"]
pl5['totalcost'] = pl5["cost"] * pl5["count"]
#pl5['totalpower'] =

In [90]:
pl6 = pl5.loc[:]

In [91]:
#pl6['1500'] = (pl6["totalpower"] * 1500) / 10**6
pl6['3000'] = (pl6["totalpower"] * 3000) / 10**6
pl6['4500'] = (pl6["totalpower"] * 4500) / 10**6
#pl6['6000'] = (pl6["totalpower"] * 6000) / 10**6

In [92]:
#pl7 = pl6.loc[:, ["count","netpower","totalpower","1500", "3000", "6000"]]

In [93]:
#pl7

In [94]:
pl6.append(pl6.sum(numeric_only=True), ignore_index=True)

   Ersatz  count  netpower    cost  totalpower  totalcost     3000      4500
0   800x1   26.0      80.7   100.0      2098.2     2600.0   6.2946   9.44190
1   800x2   22.0     161.1   200.0      3544.2     4400.0  10.6326  15.94890
2  9000x1    3.0     837.9   450.0      2513.7     1350.0   7.5411  11.31165
3  9000x2    1.0    1675.8   800.0      1675.8      800.0   5.0274   7.54110
4     NaN   52.0    2755.5  1550.0      9831.9     9150.0  29.4957  44.24355

In [95]:
# newdf['Stilllegung'] = newdf['Stilllegung'].astype(int)
#newdf['Stilllegung'] = newdf['Stilllegung'].apply(lambda x: int(x) if x == x else None)

In [96]:
sgt5_800 = pl0.loc[np.logical_or(pl0.Ersatz == "800x1", pl0.Ersatz == "800x2")]
#sgt5_800 = sgt5_800.loc[sgt5_800.Weiterbetrieb != "Ja"]

In [97]:
#sgt5_800

In [98]:
sgt5_9000 = pl0.loc[np.logical_or(pl0.Ersatz == "9000x1", pl0.Ersatz == "9000x2")]
#sgt5_800 = sgt5_800.loc[sgt5_800.Weiterbetrieb != "Ja"]

In [99]:
#sgt5_9000

In [102]:
#for row in sgt5_9000.iterrows():
    #print(row == pl0.iloc[0])
    #print(type(row[1]))
    #print("\n")
    #print(sgt5_9000.iloc[0])
    #break