In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [13]:
raw0 = pd.read_csv("../data/2017-09-19_DB-Export_Freisetzungen.csv", encoding="iso-8859-1", error_bad_lines=False, engine="c", sep=";", low_memory=False)

In [14]:
#raw0.groupby(["activity"]).count()

In [15]:
raw2 = raw0.loc[raw0.sector == 'Energy sector']
raw2 = raw0.loc[np.logical_or(raw0.nace_sector == "Steam and air conditioning supply", raw0.nace_sector == "Production of electricity"), :]
raw2 = raw0.loc[:]

In [16]:
raw3 = raw2.sort_values("jahresfracht_freisetzung", ascending=True)

In [17]:
plants = raw3.rename(columns={"jahr": "year", "betriebsname_2": "plantname", "betriebsname": "company", "kennnummer": "plantid", "ort": "place", "strasse": "street", "bundesland": "federalstate", "jahresfracht_freisetzung": "amount"})

In [18]:
#plants1 = plants.loc[plants.pollutant == "Carbon dioxide (CO2)"]

In [19]:
drop_list = ['flusseinzugsgebiet', 'schutzgrund_fracht', 'confidential_reason_release', 'schutzgrund_betrieb', 'confidential_reason_facility', 'versehentliche_freisetzung', 'bestimmungsmethode', 'determination_method', 'einheit', 'koord_rechtsw', 'koord_hochw', 'umweltkompartiment', 'geo_etrs89_utm32', 'haupttaetigkeit', 'taetigkeit', 'nace_wirtschaftszweig', 'schadstoff', 'stoffgruppe', 'branche', 'schadstoff_schwellenwert']
plants_2 = plants.drop(drop_list, axis=1, inplace=False)

In [20]:
plz = "89355"
plants_2.loc[plants_2.plz == plz]

Empty DataFrame
Columns: [year, plantid, company, plantname, plz, place, street, hausnr, federalstate, taet_nr, activity, sector, nace_id, nace_sector, substances_group, pollutant, releases_to, amount, unit]
Index: []

In [21]:
# plants_2

In [22]:
#drop_list = ['company', 'plantname', 'hausnr']
#plants_2.drop(drop_list, axis=1, inplace=True)

In [23]:
#raw3.dtypes

In [24]:
#plants_3 = plants_2.loc[np.logical_and(plants_2.year == 2015, plants_2.plantid == "06-05-100-0248923"), :]
#plants_3 = plants_2.loc[np.logical_and(plants_2.year == 2015, plants_2.plantid == "06-05-100-0167182"), :]
# plants_4 = plants_3.loc[plants_3.company == "Stadtwerke Duisburg AG"]
# plants_3 = plants_2.loc[np.logical_and(plants_2.year == 2015, plants_2.pollutant == "Carbon dioxide (CO2)"), :]
plants_3 = plants_2.loc[:]
plants_4 = plants_3.loc[:]

In [25]:
plants_4.sort_values("pollutant", ascending=False)

,year,plantid,company,plantname,plz,place,street,hausnr,federalstate,taet_nr,activity,sector,nace_id,nace_sector,substances_group,pollutant,releases_to,amount,unit
21275,2011,06-08-3265100000016,SKA Donaueschingen,GVV Donaueschingen,78166,Donaueschingen,Haberfeld,97,Baden-Württemberg,5.f,Urban waste-water treatment plants > 100 000 p...,Waste and waste water management,3700,Sewerage,Heavy metals,Zinc and compounds (as Zn),Water,170.0,kg/year
16688,2010,06-08-4165100000066,SKA Tübingen,NaN,72074,Tübingen,Nürtinger Straße,120,Baden-Württemberg,5.f,Urban waste-water treatment plants > 100 000 p...,Waste and waste water management,3700,Sewerage,Heavy metals,Zinc and compounds (as Zn),Water,751.0,kg/year
10179,2009,06-00000870531,Klärwerk Gießen,NaN,35398,"Gießen, Universitätsstadt",Lahnstraße,218,Hessen,5.f,Urban waste-water treatment plants > 100 000 p...,Waste and waste water management,3700,Sewerage,Heavy metals,Zinc and compounds (as Zn),Water,737.0,kg/year
16477,2010,06-08-1255100000044,KA Neckarsulm,NaN,74172,Neckarsulm,Marktstraße,18,Baden-Württemberg,5.f,Urban waste-water treatment plants > 100 000 p...,Waste and waste water management,3700,Sewerage,Heavy metals,Zinc and compounds (as Zn),Water,737.0,kg/year
20129,2011,06-05-100-9021122,LANXESS Deutschland GmbH,CHEMPARK Krefeld-Uerdingen,47829,Krefeld,Rheinuferstraße,7-9,Nordrhein-Westfalen,4.b.v,"Production of non-metals, metal oxides or othe...",Chemical industry,2014,Manufacture of other organic basic chemicals,Heavy metals,Zinc and compounds (as Zn),Air,739.0,kg/year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9255,2008,14-80-58045260000,Saint Gobain Glass Flachglas Torgau GmbH,NaN,04860,Torgau,Solarstraße,1,Sachsen,3.e,"Manufacture of glass, including glass fibre >2...",Mineral industry,2311,Manufacture of flat glass,Other gases,NaN,Air,998000.0,kg/year
33071,2014,03-06-06291730660,vertraulich,NaN,NaN,NaN,NaN,NaN,Niedersachsen,3.c.i,Production of cement clinker in rotary kilns >...,Mineral industry,2351,Manufacture of cement,Greenhouse gases,NaN,Air,480000000.0,kg/year
37541,2015,03-06-06291730660,vertraulich,NaN,NaN,NaN,NaN,NaN,Niedersachsen,3.c.i,Production of cement clinker in rotary kilns >...,Mineral industry,2351,Manufacture of cement,Greenhouse gases,NaN,Air,541000000.0,kg/year
23758,2012,03-06-06291730660,HeidelbergCement AG,Zementwerk Hannover,30559,Hannover,Lohweg,34,Niedersachsen,3.c.i,Production of cement clinker in rotary kilns >...,Mineral industry,2351,Manufacture of cement,Greenhouse gases,NaN,Air,601000000.0,kg/year
3384,2007,06-10-0050559,AG der Dillinger Hüttenwerke,NaN,66763,Dillingen/Saar,Werkstraße,1-6,Saarland,2.c.i,Processing of ferrous metals with hot-rolling ...,Metal industry,2410,Manufacture of basic iron and steel and of fer...,Greenhouse gases,NaN,Air,867673000.0,kg/year

In [26]:
#plants_4.duplicated(subset=["year", "plantid", "pollutant"])

In [27]:
df = plants_4.loc[:]
btest = pd.concat(g for _, g in df.groupby(["year", "plantid", "pollutant"]) if len(g) > 1)

In [28]:
btest.groupby("pollutant").count()

,year,plantid,company,plantname,plz,place,street,hausnr,federalstate,taet_nr,activity,sector,nace_id,nace_sector,substances_group,releases_to,amount,unit
pollutant,,,,,,,,,,,,,,,,,,
"1,2-dichloroethane (DCE)",14,14,14,12,14,14,14,14,14,14,14,14,14,14,14,14,14,14
Arsenic and compounds (as As),80,80,80,32,80,80,80,80,80,80,80,80,80,80,80,80,80,80
Benzene,6,6,6,4,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Cadmium and compounds (as Cd),26,26,26,6,26,26,26,26,26,26,26,26,26,26,26,26,26,26
Chlorides (as total Cl),34,34,34,28,34,34,34,34,34,34,34,34,34,34,34,34,34,34
Chromium and compounds (as Cr),26,26,26,8,26,26,26,26,26,26,26,26,26,26,26,26,26,26
Copper and compounds (as Cu),88,88,88,38,88,88,88,88,88,88,88,88,88,88,88,88,88,88
Di-(2-ethyl hexyl) phthalate (DEHP),6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Dichloromethane (DCM),8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Halogenated organic compounds (as AOX),2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Hexachlorobenzene (HCB),2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Lead and compounds (as Pb),90,90,90,32,90,90,90,90,90,90,90,90,90,90,90,90,90,90
Mercury and compounds (as Hg),60,60,60,26,60,60,60,60,60,60,60,60,60,60,60,60,60,60
Naphthalene,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Nickel and compounds (as Ni),150,150,150,46,150,150,150,150,150,150,150,150,150,150,150,150,150,150
Tetrachloromethane (TCM),4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Total nitrogen,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Trichloromethane,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Vinyl chloride,18,18,18,0,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Zinc and compounds (as Zn),152,152,152,80,152,152,152,152,152,152,152,152,152,152,152,152,152,152

In [29]:
plants_4.groupby(["year", "plantid", "pollutant"]).count()

                                                  company  plantname  plz  \
year plantid           pollutant
2007 01-10-51011005501 Carbon dioxide (CO2)             1          0    1
                       Nitrogen oxides (NOx/NO2)        1          0    1
                       Sulphur oxides (SOx/SO2)         1          0    1
     01-10-51011008130 Sulphur oxides (SOx/SO2)         1          0    1
     01-10-51048040567 Benzene                          1          1    1
...                                                   ...        ...  ...
2015 18243             Methane (CH4)                    1          0    1
     18248             Ammonia (NH3)                    1          0    1
     18327             Ammonia (NH3)                    1          0    1
     18722             Ammonia (NH3)                    1          0    1
     19076             Ammonia (NH3)                    1          0    1

                                                  place  street  hausnr  \
year plantid           pollutant
2007 01-10-51011005501 Carbon dioxide (CO2)           1       1       1
                       Nitrogen oxides (NOx/NO2)      1       1       1
                       Sulphur oxides (SOx/SO2)       1       1       1
     01-10-51011008130 Sulphur oxides (SOx/SO2)       1       1       1
     01-10-51048040567 Benzene                        1       1       1
...                                                 ...     ...     ...
2015 18243             Methane (CH4)                  1       1       1
     18248             Ammonia (NH3)                  1       1       1
     18327             Ammonia (NH3)                  1       1       1
     18722             Ammonia (NH3)                  1       1       1
     19076             Ammonia (NH3)                  1       1       1

                                                  federalstate  taet_nr  \
year plantid           pollutant
2007 01-10-51011005501 Carbon dioxide (CO2)                  1        1
                       Nitrogen oxides (NOx/NO2)             1        1
                       Sulphur oxides (SOx/SO2)              1        1
     01-10-51011008130 Sulphur oxides (SOx/SO2)              1        1
     01-10-51048040567 Benzene                               1        1
...                                                        ...      ...
2015 18243             Methane (CH4)                         1        1
     18248             Ammonia (NH3)                         1        1
     18327             Ammonia (NH3)                         1        1
     18722             Ammonia (NH3)                         1        1
     19076             Ammonia (NH3)                         1        1

                                                  activity  sector  nace_id  \
year plantid           pollutant
2007 01-10-51011005501 Carbon dioxide (CO2)              1       1        1
                       Nitrogen oxides (NOx/NO2)         1       1        1
                       Sulphur oxides (SOx/SO2)          1       1        1
     01-10-51011008130 Sulphur oxides (SOx/SO2)          1       1        1
     01-10-51048040567 Benzene                           1       1        1
...                                                    ...     ...      ...
2015 18243             Methane (CH4)                     1       1        1
     18248             Ammonia (NH3)                     1       1        1
     18327             Ammonia (NH3)                     1       1        1
     18722             Ammonia (NH3)                     1       1        1
     19076             Ammonia (NH3)                     1       1        1

                                                  nace_sector  \
year plantid           pollutant
2007 01-10-51011005501 Carbon dioxide (CO2)                 1
                       Nitrogen oxides (NOx/NO2)            1
                       Sulphur oxides (SOx/SO2)             1
     01-10-51011008130 Sulphur oxides (SOx/SO2)             1
     01-10-51048040567 Benzene                              1
...                                                       ...
2015 18243             Methane (CH4)                        1
     18248             Ammonia (NH3)                        1
     18327             Ammonia (NH3)                        1
     18722             Ammonia (NH3)                        1
     19076             Ammonia (NH3)                        1

                                                  substances_group  \
year plantid           pollutant
2007 01-10-51011005501 Carbon dioxide (CO2)                      1
                       Nitrogen oxides (NOx/NO2)                 1
                       Sulphur oxides (SOx/SO2)                  1
     01-10-51011008130 Sulphur oxides (SOx/SO2)                  1
     01-10-51048040567 Benzene                                   1
...                                                            ...
2015 18243             Methane (CH4)                             1
     18248             Ammonia (NH3)                             1
     18327             Ammonia (NH3)                             1
     18722             Ammonia (NH3)                             1
     19076             Ammonia (NH3)                             1

                                                  releases_to  amount  unit
year plantid           pollutant
2007 01-10-51011005501 Carbon dioxide (CO2)                 1       1     1
                       Nitrogen oxides (NOx/NO2)            1       1     1
                       Sulphur oxides (SOx/SO2)             1       1     1
     01-10-51011008130 Sulphur oxides (SOx/SO2)             1       1     1
     01-10-51048040567 Benzene                              1       1     1
...                                                       ...     ...   ...
2015 18243             Methane (CH4)                        1       1     1
     18248             Ammonia (NH3)                        1       1     1
     18327             Ammonia (NH3)                        1       1     1
     18722             Ammonia (NH3)                        1       1     1
     19076             Ammonia (NH3)                        1       1     1

[41369 rows x 16 columns]

In [30]:
plants_4.dtypes

year                  int64
plantid              object
company              object
plantname            object
plz                  object
place                object
street               object
hausnr               object
federalstate         object
taet_nr              object
activity             object
sector               object
nace_id               int64
nace_sector          object
substances_group     object
pollutant            object
releases_to          object
amount              float64
unit                 object
dtype: object

In [31]:
atest = plants_3.groupby(["pollutant"]).count()

In [32]:
# atest

In [33]:
def fix_company(company):
    cmp = company
    try:
        company_prefix, _ = company.split(" " , 1)
    except ValueError:
        return company
    # company_dict = {}
    company_dict = {"RWE": "RWE AG", "Vattenfall": "Vattenfall GmbH", "Uniper": "Uniper SE", "EnBW": "EnBW AG", "Steag": "Steag GmbH", "Nordzucker": "Nordzucker AG"}
    try:
        cmp = company_dict[company_prefix]
    except KeyError:
        return company
    return cmp

In [34]:
def fix_pollutant(pollutant):
    plt = pollutant
    if plt == "Trichlorobenzenes (TCBs) (all isomers)":
        return "TCBs"
    elif plt == "Phenols (as total C)":
        return "Phenols"
    elif plt == "Hydrochlorofluorocarbons(HCFCs)":
        return "HCFCs"
    elif plt == "Total organic carbon (TOC) (as total C or COD/3)":
        return "TCO"
    try:
        pollutant_list = pollutant.split(" ")
    except:
        return pollutant
    apollutant = pollutant_list.pop()
    if apollutant[:-2:-1] != ")":
        return apollutant
    elif apollutant[0] == '(':
        apollutant = apollutant[1:-1]
        apollutant = apollutant.split("/")[0]
        return apollutant
    else:
        return apollutant[0:-1]
    return plt

In [35]:
amount_dict = {"CO2": 9, "CO": 3, "SOx": 3, "NOx": 6, "PM10": 3, "HCl": 3, "HF": 3, "Benzene": 3}

In [36]:
unit_2_dict = {9: "Mio. t", 6: "Tsd. t", 3: "t"}

In [38]:
convert_amount(3.210000e+10, "CO2")

(32.1, 9, 'Mio. t')

In [41]:
plants_5 = plants_4.copy()

In [46]:
#plants_4['company'].applymap(fix_company)

In [ ]:
powers2[headers] = powers2[headers].applymap(lambda x: "0" if not str(x).isnumeric() and ":" in x else x) # remove dates from int column

In [43]:
plants_5['company'] = plants_5['company'].apply(lambda x: fix_company(x))

In [45]:
#plants_5

In [37]:
def convert_amount(amount, pollutant):
    try:
        pot = amount_dict[pollutant]
        unit_2 = unit_2_dict[pot]
        amount /= (10**pot)
    except KeyError:
        return amount, 1, "kg"
    return amount, pot, unit_2

In [ ]:
newdf = pd.DataFrame()
for index, row in plants_4.iterrows():
    cmp = fix_company(row['company'])
    plt = fix_pollutant(row['pollutant'])
    #print(plt)
    if cmp == "RWE Power AG":
        print(cmp)
    amount, pot, unit_2 = convert_amount(row["amount"], plt)
    row['amount'] = amount
    row['potency'] = pot
    row['unit_2'] = unit_2
    row['company'] = cmp
    row['pollutant'] = plt
    newdf = newdf.append(row)

In [ ]:
newdf = newdf[["plantid", "company", "plantname", "plz", "place", "street", "hausnr", "federalstate", "taet_nr", "activity", "sector", "nace_id", "nace_sector", "substances_group", "releases_to", "pollutant", "amount", 'potency', "unit", "unit_2", "year"]]

In [ ]:
#newdf

In [ ]:
# newdf.groupby(["pollutant"]).count()

In [ ]:
drop_list = ['plz', 'company','plantname', 'federalstate',  'place', 'street', 'hausnr', 'taet_nr', 'nace_id', 'substances_group', 'unit', 'activity', 'sector', 'nace_sector' ]
pollutions_final = newdf.drop(drop_list, axis=1, inplace=False)

In [ ]:
#print(plants_final.shape)
#print(plants_final.dtypes)

In [ ]:
pollutions_final

In [ ]:
#pl = newdf.dropna(subset=["plantid"])

In [ ]:
pollutions_final['year'] = pollutions_final['year'].astype(int)
pollutions_final['potency'] = pollutions_final['potency'].astype(int)

In [ ]:
pollutions_final.dtypes

In [ ]:
pl0 = newdf.sort_values("plantname", ascending=False)

In [ ]:
pl1 = pl0.drop_duplicates(subset="plantname")
pl2 = pl1.drop_duplicates(subset="plantid")
#plants_a = plants.drop_duplicates(subset="KraftwerkID")

In [ ]:
pl2.dtypes

In [ ]:
#pl1.loc[pl1.plantname=="Kraftwerk Jänschwalde"]

In [ ]:
#plt = pl2.loc[pl2.company == "RWE AG"]

In [ ]:
#pl2

In [ ]:
#pl = newdf.dropna(subset=["plantname"])

In [ ]:
#pl.shape

In [ ]:
#plants0 = newdf.groupby(["plantid"]).count()

In [ ]:
#pl3 = plt.sort_values(["potency", "amount"], ascending=[False, False])

In [ ]:
pl2

In [ ]:
drop_list = ['taet_nr', 'nace_id', 'substances_group', 'unit', 'activity', 'sector', 'nace_sector', 'pollutant', 'amount', 'potency', 'unit', 'unit_2', 'year']
plants0 = pl2.drop(drop_list, axis=1, inplace=False)

In [ ]:
# plants0.sort_values(["potency", "amount"], ascending=[False, False])

In [ ]:
plants0

In [ ]:
plants0.dtypes

In [ ]:
pollutions_final

In [63]:
# plants0.to_csv("plants.csv", index=False, header=False)
pollutions_final.to_csv("pollutions_nh.csv", index=False, header=False)
# blocks.to_csv("blocks_nh.csv", index=False, header=False)