In [3]:
import pandas as pd
import numpy as np
from helper import get_mapper
import json

In [4]:
bpm = pd.read_csv("../basic/block_plant_mapper.csv")

In [5]:
bpm['plantid'] = bpm['plantid'].apply(lambda x: str(x).replace('/', '_'))

In [6]:
CDF = pd.read_csv("CDFt1.csv", parse_dates=['produced_at'])

In [5]:
powers = pd.read_csv("CDF2t1.csv", parse_dates=['produced_at'])

In [6]:
powers2 = powers.copy()
powers2['power'] = powers2['power'].fillna(0)
#powers2.power.replace(['-'], [0], inplace=True)
powers3 = powers2.astype({"power": int})
#powers3.to_csv("produced_power_pg.csv", index=True, header=False)
#powers3.to_csv("produced_power.csv", index=False)
#powers3.to_csv("produced_power_nh.csv", index=False, header=False)

In [7]:
plist = list(CDF)

In [9]:
CDF

,produced_at,BNA0067,BNA1404,BNA0124,BNA0123,BNA0122,BNA0115,BNA0116,BNA0157,BNA0172a,...,BNA1025,BNA0413b,BNA0415,BNA0414,BNA0413a,BNA0413c,BNA1071,BNA1092,BNA1091,BNA1093
0,2015-01-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-01 01:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-01 02:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-01 03:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-01 04:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2019-12-31 19:00:00,0,0,0,475,490,808,0,1326,0,...,306,0,0,0,0,0,0,0,0,0
43820,2019-12-31 20:00:00,0,0,0,478,500,850,0,1325,0,...,305,0,0,0,0,0,0,0,0,0
43821,2019-12-31 21:00:00,0,0,0,477,502,857,0,1326,0,...,306,0,0,0,0,0,0,0,0,0
43822,2019-12-31 22:00:00,0,63,0,477,503,858,0,1326,0,...,307,0,0,0,0,0,0,0,0,0
43823,2019-12-31 23:00:00,0,213,0,481,502,851,0,1325,0,...,308,0,0,0,0,0,0,0,0,0

In [8]:
"BNA0997" in plist

False

In [9]:
years = ("fix/Gaskraftwerk_Irsching_201701010000_201512312345_97.csv", "fix/Gaskraftwerk_Irsching_201601010000_201712312345_97.csv", "fix/Gaskraftwerk_Irsching_201801010000_201912312345_97.csv")

In [10]:
test = pd.read_csv(years[2])

In [11]:
17520 / (12 * 5)

292.0

In [12]:
#powers.describe()

In [13]:
gy = CDF.resample('1Y', on='produced_at').sum()
gm = CDF.resample('1M', on='produced_at').sum()

In [14]:
gm2 = gm.reset_index()
gm2['year'] = gm2['produced_at']
gm2['month'] = gm2['produced_at']

In [15]:
gm2['year'] = gm2['year'].apply(lambda x: str(x).split("-")[0])
gm2['month'] = gm2['month'].apply(lambda x: int(str(x).split("-")[1]))
gm2['month'] = gm2['month'].astype(int)

In [16]:
gm3 = gm2.sort_values(by=["year", 'month'])
gm4 = gm3.drop(columns='produced_at')

In [17]:
gm5 = gm4.melt(id_vars=["year", "month"], var_name='blockid', value_name='power')
gm5['power'] = gm5['power'].astype(int)

In [18]:
gm5

       year  month  blockid   power
0      2015      1  BNA0067   70621
1      2015      2  BNA0067   68088
2      2015      3  BNA0067   66709
3      2015      4  BNA0067   53328
4      2015      5  BNA0067   76938
...     ...    ...      ...     ...
15295  2019      8  BNA1093   58135
15296  2019      9  BNA1093   58514
15297  2019     10  BNA1093  110960
15298  2019     11  BNA1093  151811
15299  2019     12  BNA1093   69385

[15300 rows x 4 columns]

In [19]:
#gm5.to_csv("monthly.csv", header=False)

In [20]:
gm5.describe()

              month         power
count  15300.000000  1.530000e+04
mean       6.500000  9.481408e+04
std        3.452165  1.751555e+05
min        1.000000  0.000000e+00
25%        3.750000  0.000000e+00
50%        6.500000  1.175950e+04
75%        9.250000  1.147488e+05
max       12.000000  1.028670e+06

In [21]:
pm1 = gm5.merge(bpm, on="blockid")

In [22]:
#gm5.to_csv("monthly.csv", header=False)

In [23]:
gm6 = gm5.copy()

In [24]:
gm6 = gm5.groupby(by=['blockid', 'month', 'year'])

In [25]:
m = pm4.duplicated(subset=['year', 'month', 'plantid'])

NameError: name 'pm4' is not defined

In [ ]:
pm4.loc[m]

In [26]:
pm2 = pm1.copy()

In [27]:
pm2['plantpower'] = pm2.groupby(['plantid', 'month', 'year'])['power'].transform('sum')

In [28]:
pm3 = pm2.drop_duplicates(['month', 'year', 'plantid'])

In [29]:
pm4 = pm3.drop(['blockid', 'power'], axis=1)

In [30]:
ym1 = pm4.copy()

In [31]:
ym1['yearpower'] = ym1.groupby(['plantid', 'year'])['plantpower'].transform('sum')
ym2 = ym1.drop_duplicates(['year', 'plantid'])
ym3 = ym2.drop(['month', 'plantpower'], axis=1)
ym4 = ym3.reset_index(drop=True)

In [32]:
ym4

     year              plantid  yearpower
0    2015    06-05-900-0205103    1723045
1    2016    06-05-900-0205103    2762813
2    2017    06-05-900-0205103    1784400
3    2018    06-05-900-0205103    1741338
4    2019    06-05-900-0205103     740499
..    ...                  ...        ...
415  2015  06-09-100-0003-0003    2034876
416  2016  06-09-100-0003-0003    1892349
417  2017  06-09-100-0003-0003    1753280
418  2018  06-09-100-0003-0003    1444906
419  2019  06-09-100-0003-0003    1047208

[420 rows x 3 columns]

In [34]:
ym4.to_csv("yearly.csv", index=False)
ym4.to_csv("yearly_pg.csv")

In [171]:
pm3.sort_values(by="plantpower", ascending=False)

       year  month   blockid   power            plantid  plantpower
9523   2018      8  BNA1401b  641439  06-05-100-0248923     2633329
9501   2016     10  BNA1401b  723383  06-05-100-0248923     2631880
9525   2018     10  BNA1401b  688779  06-05-100-0248923     2608109
9522   2018      7  BNA1401b  609273  06-05-100-0248923     2577498
9518   2018      3  BNA1401b  702196  06-05-100-0248923     2557329
...     ...    ...       ...     ...                ...         ...
1718   2018      3   BNA0309       0  06-05-100-0081105           0
1717   2018      2   BNA0309       0  06-05-100-0081105           0
1716   2018      1   BNA0309       0  06-05-100-0081105           0
7475   2017     12   BNA0378       0             669-01           0
10468  2017      5   BNA0938       0      06-08-1195689           0

[5040 rows x 6 columns]

In [172]:
pm4 = pm3.drop(['blockid', 'power'], axis=1)

In [173]:
pm4

       year  month              plantid  plantpower
0      2015      1    06-05-900-0205103       70621
1      2015      2    06-05-900-0205103       68088
2      2015      3    06-05-900-0205103       66709
3      2015      4    06-05-900-0205103       53328
4      2015      5    06-05-900-0205103       76938
...     ...    ...                  ...         ...
13135  2019      8  06-09-100-0003-0003       58135
13136  2019      9  06-09-100-0003-0003       58514
13137  2019     10  06-09-100-0003-0003      110960
13138  2019     11  06-09-100-0003-0003      151811
13139  2019     12  06-09-100-0003-0003       69385

[5040 rows x 4 columns]

In [190]:
mt1 = pm4.copy()

In [191]:
mt1['pa'] = mt1.year.astype(str) + "-" + mt1.month.astype(str)

In [192]:
mt1['produced_at'] =  pd.to_datetime(mt1['pa'])

In [195]:
mt2 = mt1.drop(["year", "month", "pa"], axis=1)

In [204]:
mt3 = mt2.reset_index(drop=True)

In [205]:
5040 / (5* 12)

84.0

In [208]:
mt3.to_csv("mt_pg.csv", header=False)

In [214]:
mt3.loc[mt3.plantid == '06-05-900-0205103']

              plantid  plantpower produced_at
0   06-05-900-0205103       70621  2015-01-01
1   06-05-900-0205103       68088  2015-02-01
2   06-05-900-0205103       66709  2015-03-01
3   06-05-900-0205103       53328  2015-04-01
4   06-05-900-0205103       76938  2015-05-01
5   06-05-900-0205103      186997  2015-06-01
6   06-05-900-0205103      239872  2015-07-01
7   06-05-900-0205103      267502  2015-08-01
8   06-05-900-0205103      160415  2015-09-01
9   06-05-900-0205103      284699  2015-10-01
10  06-05-900-0205103      185339  2015-11-01
11  06-05-900-0205103       62537  2015-12-01
12  06-05-900-0205103      287762  2016-01-01
13  06-05-900-0205103      183516  2016-02-01
14  06-05-900-0205103      250090  2016-03-01
15  06-05-900-0205103      222847  2016-04-01
16  06-05-900-0205103      243262  2016-05-01
17  06-05-900-0205103      238474  2016-06-01
18  06-05-900-0205103      257477  2016-07-01
19  06-05-900-0205103      235940  2016-08-01
20  06-05-900-0205103      159940  2016-09-01
21  06-05-900-0205103      234811  2016-10-01
22  06-05-900-0205103      226320  2016-11-01
23  06-05-900-0205103      222374  2016-12-01
24  06-05-900-0205103      266899  2017-01-01
25  06-05-900-0205103      127296  2017-02-01
26  06-05-900-0205103       75773  2017-03-01
27  06-05-900-0205103       95525  2017-04-01
28  06-05-900-0205103      170137  2017-05-01
29  06-05-900-0205103      150485  2017-06-01
30  06-05-900-0205103      117391  2017-07-01
31  06-05-900-0205103      164908  2017-08-01
32  06-05-900-0205103      202510  2017-09-01
33  06-05-900-0205103      138910  2017-10-01
34  06-05-900-0205103      189220  2017-11-01
35  06-05-900-0205103       85346  2017-12-01
36  06-05-900-0205103       59412  2018-01-01
37  06-05-900-0205103      158553  2018-02-01
38  06-05-900-0205103      193165  2018-03-01
39  06-05-900-0205103      108196  2018-04-01
40  06-05-900-0205103       58677  2018-05-01
41  06-05-900-0205103       83580  2018-06-01
42  06-05-900-0205103      186893  2018-07-01
43  06-05-900-0205103      262396  2018-08-01
44  06-05-900-0205103      113135  2018-09-01
45  06-05-900-0205103      145439  2018-10-01
46  06-05-900-0205103      174172  2018-11-01
47  06-05-900-0205103      197720  2018-12-01
48  06-05-900-0205103      186859  2019-01-01
49  06-05-900-0205103       40812  2019-02-01
50  06-05-900-0205103       30982  2019-03-01
51  06-05-900-0205103       17340  2019-04-01
52  06-05-900-0205103       20909  2019-05-01
53  06-05-900-0205103       20732  2019-06-01
54  06-05-900-0205103       54639  2019-07-01
55  06-05-900-0205103       57482  2019-08-01
56  06-05-900-0205103       58887  2019-09-01
57  06-05-900-0205103       92276  2019-10-01
58  06-05-900-0205103      139514  2019-11-01
59  06-05-900-0205103       20067  2019-12-01

In [212]:
mt3.duplicated(subset=["plantid"])

0       False
1        True
2        True
3        True
4        True
        ...
5035     True
5036     True
5037     True
5038     True
5039     True
Length: 5040, dtype: bool

In [193]:
mt1.produced_at = pd.to_datetime()

TypeError: to_datetime() missing 1 required positional argument: 'arg'

In [174]:
pm4.to_csv("monthlyp_pg.csv", header=False)

In [175]:
pm4.loc[pm4.plantid == "06-04-11_2039669_2_0"]

      year  month               plantid  plantpower
1500  2015      1  06-04-11_2039669_2_0      173077
1501  2015      2  06-04-11_2039669_2_0      157209
1502  2015      3  06-04-11_2039669_2_0      148299
1503  2015      4  06-04-11_2039669_2_0      137687
1504  2015      5  06-04-11_2039669_2_0       95119
1505  2015      6  06-04-11_2039669_2_0      124325
1506  2015      7  06-04-11_2039669_2_0      150438
1507  2015      8  06-04-11_2039669_2_0      160772
1508  2015      9  06-04-11_2039669_2_0      138932
1509  2015     10  06-04-11_2039669_2_0      176989
1510  2015     11  06-04-11_2039669_2_0      142840
1511  2015     12  06-04-11_2039669_2_0      124021
1512  2016      1  06-04-11_2039669_2_0      130298
1513  2016      2  06-04-11_2039669_2_0       95413
1514  2016      3  06-04-11_2039669_2_0      135139
1515  2016      4  06-04-11_2039669_2_0      141076
1516  2016      5  06-04-11_2039669_2_0      125656
1517  2016      6  06-04-11_2039669_2_0      115191
1518  2016      7  06-04-11_2039669_2_0      151162
1519  2016      8  06-04-11_2039669_2_0       40986
1520  2016      9  06-04-11_2039669_2_0       43028
1521  2016     10  06-04-11_2039669_2_0       32241
1522  2016     11  06-04-11_2039669_2_0       36654
1523  2016     12  06-04-11_2039669_2_0       65663
1524  2017      1  06-04-11_2039669_2_0      178234
1525  2017      2  06-04-11_2039669_2_0      112196
1526  2017      3  06-04-11_2039669_2_0      133747
1527  2017      4  06-04-11_2039669_2_0       92067
1528  2017      5  06-04-11_2039669_2_0      116391
1529  2017      6  06-04-11_2039669_2_0       93460
1530  2017      7  06-04-11_2039669_2_0      134767
1531  2017      8  06-04-11_2039669_2_0      116314
1532  2017      9  06-04-11_2039669_2_0      156997
1533  2017     10  06-04-11_2039669_2_0      126972
1534  2017     11  06-04-11_2039669_2_0      118838
1535  2017     12  06-04-11_2039669_2_0       77950
1536  2018      1  06-04-11_2039669_2_0       81680
1537  2018      2  06-04-11_2039669_2_0      137603
1538  2018      3  06-04-11_2039669_2_0      116039
1539  2018      4  06-04-11_2039669_2_0       99347
1540  2018      5  06-04-11_2039669_2_0       88731
1541  2018      6  06-04-11_2039669_2_0       73528
1542  2018      7  06-04-11_2039669_2_0      166624
1543  2018      8  06-04-11_2039669_2_0      166777
1544  2018      9  06-04-11_2039669_2_0       91237
1545  2018     10  06-04-11_2039669_2_0       90921
1546  2018     11  06-04-11_2039669_2_0      125055
1547  2018     12  06-04-11_2039669_2_0      136581
1548  2019      1  06-04-11_2039669_2_0      116555
1549  2019      2  06-04-11_2039669_2_0       76361
1550  2019      3  06-04-11_2039669_2_0       45952
1551  2019      4  06-04-11_2039669_2_0       28297
1552  2019      5  06-04-11_2039669_2_0       26414
1553  2019      6  06-04-11_2039669_2_0       12075
1554  2019      7  06-04-11_2039669_2_0       32900
1555  2019      8  06-04-11_2039669_2_0       45220
1556  2019      9  06-04-11_2039669_2_0       55428
1557  2019     10  06-04-11_2039669_2_0       73467
1558  2019     11  06-04-11_2039669_2_0       53399
1559  2019     12  06-04-11_2039669_2_0       24645