In [236]:
import pandas as pd
from pandas.io.parsers import ParserError
import numpy as np
from helper import get_mapper
import json
import os
import re

In [237]:
from os import listdir, stat
from os.path import isfile, join
BASE_DIR = "."
MIN_SIZE = 512

In [238]:
def extract_blockidf(fullname):
    return fullname.split("Generation_DE ")[1].rsplit('[MW]')[0]

In [239]:
def get_files_from_folder(folder):
    onlyfiles = [folder + "/" + f for f in listdir(folder) if isfile(join(folder, f))]
    onlyfiles.sort()
    files = [f for f in onlyfiles if stat(f).st_size > MIN_SIZE]
    return files

In [240]:
bpm = pd.read_csv("../basic/block_plant_mapper.csv")

In [241]:
FOLDERS = [os.path.join(BASE_DIR, o) for o in os.listdir(BASE_DIR) if os.path.isdir(os.path.join(BASE_DIR,o))]
FOLDERS.sort()
FOLDERS = FOLDERS[1:-2]

In [242]:
FILES_L = [get_files_from_folder(f) for f in FOLDERS]
FILES = [item for sublist in FILES_L for item in sublist]

In [243]:
FOLDERS

['./2015', './2016_17', './2018_19', './2020']

In [244]:
mapper = get_mapper('plantmapper.json')

In [245]:
mapper

{'Bergkamen': {'list': ['A'], 'A': 'BNA0067'},
 'Boxberg': {'list': ['R', 'Q', 'P', 'N'],
  'R': 'BNA1404',
  'Q': 'BNA0124',
  'P': 'BNA0123',
  'N': 'BNA0122'},
 'Braunkohlekraftwerk_Lippendorf': {'list': ['R', 'LIP S'],
  'R': 'BNA0115',
  'LIP S': 'BNA0116'},
 'Brokdorf': {'list': ['KBR'], 'KBR': 'BNA0157'},
 'Burghausen_GT': {'list': ['Burghausen_GT 1', 'BGH - O1'],
  'Burghausen_GT 1': 'BNA0172a',
  'BGH - O1': 'BNA0172b'},
 'Buschhaus': {'list': ['D'], 'D': 'BNA0439'},
 'Cuno_Heizkraftwerk_Herdecke': {'list': ['H6'], 'H6': 'BNA0442'},
 'Datteln': {'list': ['3.0', '1.0', '2.0', '4.0'],
  '3.0': 'BNA0189',
  '1.0': 'BNA0187',
  '2.0': 'BNA0188',
  '4.0': ''},
 'Dormagen': {'list': ['Gas-und-Dampfturbinen'],
  'Gas-und-Dampfturbinen': 'BNA0199'},
 'Duisburg_Hamborn': {'list': ['Block 3', 'Block 4', 'Block 5'],
  'Block 3': 'BNA0395',
  'Block 4': 'BNA0396',
  'Block 5': 'BNA0397'},
 'Duisburg_Heizkraftwerk_III': {'list': ['III/A', 'III/B'],
  'III/A': 'BNA0213',
  'III/B': 'BNA0214'},
 'Duisburg_Ruhrort': {'list': ['Block 3', 'Block 2', 'Block 4'],
  'Block 3': 'BNA0218',
  'Block 2': 'BNA0217',
  'Block 4': 'BNA0219'},
 'E-Werk_Wilhelmshaven': {'list': ['1.0', 'GT'],
  '1.0': 'BNA1061',
  'GT': 'BNA1060'},
 'Emsland': {'list': ['C2', 'B2', 'D', 'C1', 'B1'],
  'C2': 'BNA0605',
  'B2': 'BNA0604',
  'D': 'BNA0606',
  'C1': 'BNA0602',
  'B1': 'BNA0603'},
 'Farge': {'list': ['Farge'], 'Farge': 'BNA0147'},
 'Franken_1': {'list': ['1.0', '2.0'], '1.0': 'BNA0744', '2.0': 'BNA0745'},
 'GKH_St_cken': {'list': ['Block2', 'Block1'],
  'Block2': 'BNA0421',
  'Block1': 'BNA0420'},
 'Gas-und-Dampfturbinen_Kraftwerk_Mitte': {'list': ['Gas-und-Dampfturbinen Mitte'],
  'Gas-und-Dampfturbinen Mitte': ''},
 'Gaskraftwerk_Irsching': {'list': ['4.0', '3.0', '5.0'],
  '4.0': 'BNA0995',
  '3.0': 'BNA0993',
  '5.0': 'BNA0994'},
 'Gemeinschaftskernkraftwerk_Neckarwestheim_II': {'list': ['GKN II'],
  'GKN II': 'BNA0686'},
 'Gemeinschaftskraftwerk_Kiel': {'list': [''], '': 'BNA0526'},
 'Gersteinwerk': {'list': ['G1',
   'I1',
   'F1',
   'H1',
   'I2',
   'K1',
   'F2',
   'G2',
   'K2'],
  'G1': 'BNA1040',
  'I1': 'BNA1042',
  'F1': 'BNA1039',
  'H1': 'BNA1041',
  'I2': 'BNA1043',
  'K1': 'BNA1046a',
  'F2': 'BNA1044',
  'G2': 'BNA1045',
  'K2': 'BNA1046b'},
 'Goldisthal': {'list': ['PSS A', 'PSS C', 'PSS D', 'PSS B'],
  'PSS A': 'BNA0350',
  'PSS C': 'BNA0352',
  'PSS D': 'BNA0353',
  'PSS B': 'BNA0351'},
 'Grohnde': {'list': ['KraftwerkG'], 'KraftwerkG': 'BNA0251'},
 'Heizkraftwerk_Altbach_Deizisau': {'list': ['ALT GT E (solo)',
   'ALT GT A (Solo)',
   'ALT GT B',
   'ALT GT C',
   'ALT Heizkraftwerk 1',
   'ALT Heizkraftwerk 2 (DT Solobetrieb)'],
  'ALT GT E (solo)': 'BNA0015',
  'ALT GT A (Solo)': 'BNA0016',
  'ALT GT B': 'BNA0017',
  'ALT GT C': 'BNA0018',
  'ALT Heizkraftwerk 1': 'BNA0020',
  'ALT Heizkraftwerk 2 (DT Solobetrieb)': 'BNA0019'},
 'Heizkraftwerk_Dresden-Nossener_Br_cke': {'list': ['Heizkraftwerk Dresden-Nossener Brücke '],
  'Heizkraftwerk Dresden-Nossener Brücke ': 'BNA0207'},
 'Heizkraftwerk_Dresden-Nossener_Brücke': {'list': ['Heizkraftwerk Dresden-Nossener Brücke \n'],
  'Heizkraftwerk Dresden-Nossener Brücke \n': 'BNA0207'},
 'Heizkraftwerk_Hagen-Kabel': {'list': ['H4/5'], 'H4/5': 'BNA0389'},
 'Heizkraftwerk_Heilbronn': {'list': ['HLB 6', 'HLB 5', 'HLB 7'],
  'HLB 6': 'BNA0433',
  'HLB 5': 'BNA0432',
  'HLB 7': 'BNA0434'},
 'Heizkraftwerk_Lausward': {'list': ['Block E GTE1',
   'Block E GTE2',
   'GuD F',
   'AGas-und-Dampfturbinen',
   'Block E'],
  'Block E GTE1': 'BNA0221b',
  'Block E GTE2': 'BNA0221a',
  'GuD F': 'BNA1817',
  'AGas-und-Dampfturbinen': 'BNA0220',
  'Block E': 'BNA0221c'},
 'Heizkraftwerk_Leipzig-Nord': {'list': [''], '': 'BNA0588'},
 'Heizkraftwerk_M_nchen_S_d_GUD1_': {'list': ['Süd DT1', 'Süd GT3', 'Süd GT2'],
  'Süd DT1': 'BNA0683a',
  'Süd GT3': 'BNA0683b',
  'Süd GT2': 'BNA0683c'},
 'Heizkraftwerk_M_nchen_S_d_GUD2': {'list': ['Süd GT 61',
   'Süd DT 60',
   'Süd GT 62'],
  'Süd GT 61': 'BNA0684a',
  'Süd DT 60': 'BNA0684c',
  'Süd GT 62': 'BNA0684b'},
 'Heizkraftwerk_Merkenich': {'list': ['Block 4',
   'Block 6',
   'Gas-und-Dampfturbinen'],
  'Block 4': 'BNA1182',
  'Block 6': 'BNA0543',
  'Gas-und-Dampfturbinen': 'BNA0546'},
 'Heizkraftwerk_Niehl': {'list': ['Gas-und-Dampfturbinen', 'Niehl 3'],
  'Gas-und-Dampfturbinen': 'BNA0545',
  'Niehl 3': 'BNA1818'},
 'Heizkraftwerk_R_merbr_cke': {'list': ['Gas-und-Dampfturbinen-Anlage',
   'Kohleanlage'],
  'Gas-und-Dampfturbinen-Anlage': 'BNA0861b',
  'Kohleanlage': 'BNA0861a'},
 'Heizkraftwerk_West_Wolfsburg': {'list': ['Block 1', 'Block 2'],
  'Block 1': 'BNA1076a',
  'Block 2': 'BNA1076b'},
 'Heizkraftwerk_West__Frankfurt_': {'list': ['M4',
   'Block 4',
   'Block 3',
   'Block 2'],
  'M4': 'BNA0289a',
  'Block 4': 'BNA0286',
  'Block 3': 'BNA0290',
  'Block 2': 'BNA0289b'},
 'Heyden': {'list': ['4.0'], '4.0': 'BNA0793'},
 'Huckingen': {'list': ['B', 'A'], 'B': 'BNA0486', 'A': 'BNA0485'},
 'Huntorf': {'list': [''], '': 'BNA0239'},
 'IKS_PCK_Schwedt': {'list': ['SE 4',
   'Block 6 SE 6',
   'Block 5 SE 5',
   'Block 1 SE 1',
   'Block 2 SE 2'],
  'SE 4': 'BNA0894e',
  'Block 6 SE 6': 'BNA0894b',
  'Block 5 SE 5': 'BNA0894a',
  'Block 1 SE 1': 'BNA0894c',
  'Block 2 SE 2': 'BNA0894d'},
 'Ibbenb_ren': {'list': ['B'], 'B': 'BNA0493'},
 'Isar_2': {'list': ['KKI 2'], 'KKI 2': 'BNA0263'},
 'KNG_Kraftwerk_Rostock': {'list': ['Rostock'], 'Rostock': 'BNA0849'},
 'KWH_Hannover': {'list': ['B'], 'B': 'BNA0419'},
 'KWM_Mehrum': {'list': ['Block3'], 'Block3': 'BNA0464'},
 'Kernkraft_Gundremmingen_': {'list': ['C', 'B'],
  'C': 'BNA0382',
  'B': 'BNA0381'},
 'Kernkraftwerk_Emsland': {'list': ['KKE'], 'KKE': 'BNA0607'},
 'Kernkraftwerk_Philippsburg_2': {'list': ['KKP 2'], 'KKP 2': 'BNA0802'},
 'Klingenberg': {'list': ['Klingenberg'], 'Klingenberg': 'BNA0081'},
 'Knapsack_Gas_II': {'list': ['II'], 'II': 'BNA0548b'},
 'Knapsack_Gas_I': {'list': ['I'], 'I': 'BNA0548a'},
 'Koepchenwerk': {'list': ['Koepchenwerk'], 'Koepchenwerk': 'BNA0443'},
 'Kraftwerk_BASF_Ludwigshafen_Mitte': {'list': ['GUD A 800',
   'GT 1',
   'GUD C 666'],
  'GUD A 800': 'BNA0614b',
  'GT 1': 'BNA0614a',
  'GUD C 666': 'NBA6666'},
 'Kraftwerk_BASF_Ludwigshafen_S_d': {'list': ['GUD C 200'],
  'GUD C 200': 'BNA0615'},
 'Kraftwerk_Be06bach': {'list': ['BEX'], 'BEX': 'BNA0093'},
 'Kraftwerk_Bexbach': {'list': ['BEX'], 'BEX': 'BNA0093'},
 'Kraftwerk_Bremer_Hafen': {'list': ['MKK', 'Block 5', 'Block 6'],
  'MKK': 'BNA0139',
  'Block 5': 'BNA0145',
  'Block 6': 'BNA0146'},
 'Kraftwerk_Hastedt': {'list': ['Block 14', 'Block 15'],
  'Block 14': 'BNA0140',
  'Block 15': 'BNA0144'},
 'Kraftwerk_Herne': {'list': ['Herne 2', 'Herne 3', 'Herne 4'],
  'Herne 2': 'BNA0447',
  'Herne 3': 'BNA0449',
  'Herne 4': 'BNA0450'},
 'Kraftwerk_Ingolstadt': {'list': ['3.0', '4.0'],
  '3.0': 'BNA0378',
  '4.0': 'BNA0379'},
 'Kraftwerk_J_nschwalde': {'list': ['E', 'D', 'C', 'F', 'B', 'A'],
  'E': 'BNA0789',
  'D': 'BNA0788',
  'C': 'BNA0787',
  'F': 'BNA0790',
  'B': 'BNA0786',
  'A': 'BNA0785'},
 'Kraftwerk_L_nen': {'list': ['Lünen 7', 'Lünen 6'],
  'Lünen 7': 'BNA0619',
  'Lünen 6': 'BNA0618'},
 'Kraftwerk_Mainz': {'list': ['Kraftwerk3', 'Kraftwerk2'],
  'Kraftwerk3': 'BNA1492a',
  'Kraftwerk2': 'BNA1492b'},
 'Kraftwerk_Mittelsb_ren': {'list': ['GT 3', 'Block 4', 'Block 3'],
  'GT 3': 'BNA0141',
  'Block 4': 'BNA0142',
  'Block 3': 'BNA0143'},
 'Kraftwerk_Rheinfelden': {'list': ['Kraftwerk Rheinfelden'],
  'Kraftwerk Rheinfelden': 'BNA1408'},
 'Kraftwerk_Walheim': {'list': ['WAL 2', 'WAL 1', 'WAL GT D'],
  'WAL 2': 'BNA1006',
  'WAL 1': 'BNA1005',
  'WAL GT D': 'BNA1004'},
 'Kraftwerk_Walsum': {'list': ['Walsum 10', 'Walsum 9', 'Walsum 7'],
  'Walsum 10': 'BNA0216b',
  'Walsum 9': 'BNA0216a',
  'Walsum 7': 'BNA0215'},
 'Kraftwerk_Werdohl-Elverlingsen': {'list': ['E 1/2', 'E3', 'E4'],
  'E 1/2': 'BNA1036',
  'E3': 'BNA1035',
  'E4': 'BNA1037'},
 'Kraftwerk_Wilhelmshaven': {'list': ['Kraftwerk Wilhelmshaven'],
  'Kraftwerk Wilhelmshaven': 'BNA1674'},
 'Lichterfelde': {'list': ['Lichterfelde 2',
   'Lichterfelde 3',
   'Lichterfelde 1'],
  'Lichterfelde 2': 'BNA1935',
  'Lichterfelde 3': 'BNA0076',
  'Lichterfelde 1': 'BNA0075'},
 'M_nchen_Nord_2': {'list': ['1.0', '3.0', '2.0'],
  '1.0': 'BNA0969a',
  '3.0': 'BNA0969c',
  '2.0': 'BNA0969b'},
 'Markersbach': {'list': ['PSS B',
   'PSS C',
   'PSS D',
   'PSS F',
   'PSS E',
   'PSS A'],
  'PSS B': 'BNA0653',
  'PSS C': 'BNA0654',
  'PSS D': 'BNA0655',
  'PSS F': 'BNA0657',
  'PSS E': 'BNA0656',
  'PSS A': 'BNA0652'},
 'Moorburg': {'list': ['Moorburg B', 'Moorburg A'],
  'Moorburg B': 'BNA1558',
  'Moorburg A': 'BNA1673'},
 'Neurath': {'list': ['G', 'C', 'F', 'A', 'B', 'D', 'E'],
  'G': 'BNA1401b',
  'C': 'BNA0698',
  'F': 'BNA1401a',
  'A': 'BNA0696',
  'B': 'BNA0697',
  'D': 'BNA0699',
  'E': 'BNA0700'},
 'Niederau_em': {'list': ['G', 'H', 'D', 'E', 'C', 'B', 'F', 'K', 'A'],
  'G': 'BNA0708',
  'H': 'BNA0707',
  'D': 'BNA0705',
  'E': 'BNA0713',
  'C': 'BNA0712',
  'B': 'BNA0710',
  'F': 'BNA0706',
  'K': 'BNA0709',
  'A': 'BNA0711'},
 'Restm_ll-Heizkraftwerk_Stuttgart-M_nster': {'list': ['MÜN GT17',
   'MÜN GT18',
   'MÜN GT16',
   'MÜN DT15',
   'MÜN DT12',
   'MÜN DT19 neu'],
  'MÜN GT17': 'BNA0938',
  'MÜN GT18': 'BNA0939b',
  'MÜN GT16': 'BNA0937',
  'MÜN DT15': 'BNA0936',
  'MÜN DT12': 'BNA0935',
  'MÜN DT19 neu': 'BNA0939a'},
 'Reuter': {'list': ['Reuter M', 'Reuter C'],
  'Reuter M': 'BNA0084',
  'Reuter C': 'BNA0082'},
 'Reuter_West': {'list': ['Reuter West D', 'Reuter West E'],
  'Reuter West D': 'BNA0086',
  'Reuter West E': 'BNA0087'},
 'Rheinhafen-Dampfkraftwerk': {'list': ['RDK 8', 'RDK 7', 'RDK 4S'],
  'RDK 8': 'BNA0518b',
  'RDK 7': 'BNA051a',
  'RDK 4S': 'BNA0514'},
 'Rheinkraftwerk_Iffezheim': {'list': ['Iffezheim M1-M5'],
  'Iffezheim M1-M5': 'BNA0494'},
 'S_ckingen': {'list': ['Säckingen'], 'Säckingen': 'BNA0045'},
 'Schkopau': {'list': ['B', 'A'], 'B': 'BNA0879', 'A': 'BNA0878'},
 'Scholven': {'list': ['B', 'C', 'F', 'E', 'D'],
  'B': 'BNA0332',
  'C': 'BNA0331',
  'F': 'BNA0335',
  'E': 'BNA0334',
  'D': 'BNA0333'},
 'Schwarze_Pumpe': {'list': ['A', 'B'], 'A': 'BNA0914', 'B': 'BNA0915'},
 'Staudinger': {'list': ['5.0', '4.0', '3.0', '1.0'],
  '5.0': 'BNA0377',
  '4.0': 'BNA0374',
  '3.0': 'BNA0376',
  '1.0': 'BNA0375'},
 'Tiefstack': {'list': ['Block 2 Tiefstack',
   'Gas-und-Dampfturbinen Tiefstack'],
  'Block 2 Tiefstack': 'BNA0402',
  'Gas-und-Dampfturbinen Tiefstack': 'BNA0400'},
 'Trianel_Gaskraftwerk_': {'list': ['Block 10', 'Block 20'],
  'Block 10': 'BNA0410',
  'Block 20': 'BNA0411'},
 'Trianel_Kohlekraftwerk_L_nen': {'list': ['Trianel Kohlekraftwerk Lünen'],
  'Trianel Kohlekraftwerk Lünen': 'BNA1508'},
 'V_lklingen': {'list': ['MKV', 'HKV'], 'MKV': 'BNA0998', 'HKV': 'BNA0999'},
 'Waldeck_2': {'list': ['M6', 'M5'], 'M6': 'BNA0229', 'M5': 'BNA0228'},
 'Wehr': {'list': ['Wehr'], 'Wehr': 'BNA1019'},
 'Weiher': {'list': ['Weiher III'], 'Weiher III': 'BNA0820'},
 'Weisweiler': {'list': ['D', 'C', 'H_VGT', 'G_VGT', 'F', 'H', 'G', 'E'],
  'D': 'BNA1022',
  'C': 'BNA1021',
  'H_VGT': 'BNA1024',
  'G_VGT': 'BNA1023',
  'F': 'BNA1026',
  'H': 'BNA1028',
  'G': 'BNA1027',
  'E': 'BNA1025'},
 'Westfalen': {'list': ['D', 'B', 'A', 'C', 'E'],
  'D': 'BNA0413b',
  'B': 'BNA0415',
  'A': 'BNA0414',
  'C': 'BNA0413a',
  'E': 'BNA0413c'},
 'Witznau': {'list': ['Witznau'], 'Witznau': 'BNA1071'},
 'Zolling': {'list': ['GT1 & GT2', 'BMHeizkraftwerk', 'Zolling Block 5'],
  'GT1 & GT2': 'BNA1092',
  'BMHeizkraftwerk': 'BNA1091',
  'Zolling Block 5': 'BNA1093'},
 'Frimmersdorf': {'list': ['N',
   'E',
   'G',
   'I',
   'K',
   'O',
   'M',
   'D',
   'L',
   'F',
   'C',
   'Q',
   'P'],
  'N': 'BNA0309',
  'E': 'BNA0305',
  'G': 'BNA0304',
  'I': 'BNA0307',
  'K': 'BNA0308',
  'O': 'BNA0312',
  'M': 'BNA0310',
  'D': 'BNA0303',
  'L': 'BNA0311',
  'F': 'BNA0306',
  'C': 'BNA0302',
  'Q': 'BNA0314',
  'P': 'BNA0313'},
 'Kraftwerk_Voerde': {'list': ['Block A', 'Block B'],
  'Block A': 'BNA0991',
  'Block B': 'BNA0992'},
 'Kraftwerk_West': {'list': ['West 2', 'West 1'],
  'West 1': 'BNA0989',
  'West 2': 'BNA0990'}}

In [300]:
#bpm

In [247]:
#FILES

In [248]:
def get_smard_name(f):
    return f.rsplit("/")[2].rsplit("_", 3)[0]

In [306]:
prod_mapper = []
for f in FILES:
    fn = get_smard_name(f)
    #print(fn)
    blockid, plantid = get_plant_from_prod_name(fn)
    prod_mapper.append([f, blockid, plantid])

plant Abwinden-Asten not found!
plant Altenw_rth not found!
plant Donaustadt not found!
plant Fernheizkraftwerk_Mellach not found!
plant Gerlos not found!
plant Greifenstein not found!
plant H_usling not found!
plant K_stenkraftwerk_K.I.E.L. not found!
plant Kaprun_Hauptstufe not found!
plant Kaprun_Oberstufe not found!
plant Malta_Hauptstufe not found!
plant Malta_Oberstufe not found!
plant Mayrhofen not found!
plant Melk not found!
plant Ottensheim-Wilhering not found!
plant Riedersbach not found!
plant Ro_hag not found!
plant Schwarzach not found!
plant Timelkam_ not found!
plant Wallsee-Mitterkirchen not found!
plant Ybbs-Persenbeug not found!

In [305]:
def get_plant_from_prod_name(prodname):
    tmp = ""
    try:
        tmp = mapper[prodname]
    except KeyError:
        print("plant " + prodname + " not found!")
        return None, None
    blocklist = tmp['list']
    block = blocklist[0]
    blockid = tmp[block]
    
    try:
        plantidx = bpm.loc[bpm.blockid == blockid, 'plantid'].item()
    except ValueError:
        return blockid, np.nan
    
    return blockid, plantidx

In [252]:
get_plant_from_prod_name("Buschhaus")

('BNA0439', '03-01-01012110180')

In [253]:
#prod_mapper

In [254]:
prd_df = pd.DataFrame(prod_mapper, columns = ['file', 'blockid', 'plantid'])

In [255]:
#prd_df

In [307]:
for index, row in list(prd_df.iterrows())[0:5]:
    dfname = row[0]
    plantid = row[2]
    smardname = get_smard_name(dfname)
    df = pd.read_csv(dfname, delimiter=";", parse_dates=[["Datum", "Uhrzeit"]])
    try:
        newdf = convert2plantid(df, smardname)
    except IndexError:
        print(smardname)
    print(newdf.dtypes)

produced_at    datetime64[ns]
BNA0067                object
dtype: object
produced_at    datetime64[ns]
BNA1404                object
BNA0124                object
BNA0123                object
BNA0122                object
dtype: object
produced_at    datetime64[ns]
BNA0115                object
BNA0116                object
dtype: object
produced_at    datetime64[ns]
BNA0157                object
dtype: object
produced_at    datetime64[ns]
BNA0172a               object
BNA0172b               object
dtype: object

In [257]:
testdf = pd.read_csv("./2015/Boxberg_201501010000_201512312345_71.csv", delimiter=";", parse_dates=[["Datum", "Uhrzeit"]])

In [292]:
def convert2plantid(df, plantname):
    oldcols = list(df.columns)
    newcols = [extract_blockidf(x) for x in list(df.columns)[1:]]
    newcols2 = ['produced_at'] + [mapper[plantname][x] for x in newcols]
    test = dict(zip(oldcols, newcols2))
    result = df.rename(columns=test)
    return result

In [293]:
testdf

,Datum_Uhrzeit,Generation_DE R[MW],Generation_DE Q[MW],Generation_DE P[MW],Generation_DE N[MW]
0,2015-01-01 00:00:00,-,-,-,-
1,2015-01-01 01:00:00,-,-,-,-
2,2015-01-01 02:00:00,-,-,-,-
3,2015-01-01 03:00:00,-,-,-,-
4,2015-01-01 04:00:00,-,-,-,-
...,...,...,...,...,...
8755,2015-12-31 19:00:00,598,837,219,0
8756,2015-12-31 20:00:00,598,835,220,0
8757,2015-12-31 21:00:00,598,835,221,0
8758,2015-12-31 22:00:00,598,837,221,0
8759,2015-12-31 23:00:00,599,835,220,0

In [294]:
cols = list(testdf2.columns)[1:]

In [295]:
convert2plantid(testdf, "Boxberg")

             produced_at BNA1404 BNA0124 BNA0123 BNA0122
0    2015-01-01 00:00:00       -       -       -       -
1    2015-01-01 01:00:00       -       -       -       -
2    2015-01-01 02:00:00       -       -       -       -
3    2015-01-01 03:00:00       -       -       -       -
4    2015-01-01 04:00:00       -       -       -       -
...                  ...     ...     ...     ...     ...
8755 2015-12-31 19:00:00     598     837     219       0
8756 2015-12-31 20:00:00     598     835     220       0
8757 2015-12-31 21:00:00     598     835     221       0
8758 2015-12-31 22:00:00     598     837     221       0
8759 2015-12-31 23:00:00     599     835     220       0

[8760 rows x 5 columns]

In [296]:
testdf

,Datum_Uhrzeit,Generation_DE R[MW],Generation_DE Q[MW],Generation_DE P[MW],Generation_DE N[MW]
0,2015-01-01 00:00:00,-,-,-,-
1,2015-01-01 01:00:00,-,-,-,-
2,2015-01-01 02:00:00,-,-,-,-
3,2015-01-01 03:00:00,-,-,-,-
4,2015-01-01 04:00:00,-,-,-,-
...,...,...,...,...,...
8755,2015-12-31 19:00:00,598,837,219,0
8756,2015-12-31 20:00:00,598,835,220,0
8757,2015-12-31 21:00:00,598,835,221,0
8758,2015-12-31 22:00:00,598,837,221,0
8759,2015-12-31 23:00:00,599,835,220,0

In [ ]:
newcols2

In [ ]:
extract_blockidf('Generation_DE Q[MW]')