In [2]:
import pandas as pd
#from pandas.io.parsers import ParserError
import numpy as np
from helper import get_mapper
import json
import os
import re
import datetime

In [3]:
from os import listdir, stat
from os.path import isfile, join
BASE_DIR = "."
MIN_SIZE = 512

In [4]:
hours = (365 * 5 + 1) * 24
base = datetime.datetime(2015, 1, 1)
date_list = [base + datetime.timedelta(hours=x) for x in range(0, hours)]
COMPLETE = pd.DataFrame(data={'produced_at': date_list})
COMPLETE.produced_at = pd.to_datetime(COMPLETE.produced_at)

In [5]:
base_df = pd.DataFrame({'produced_at': pd.date_range(start='2015-01-01', end='2021-01-01', freq='1H')})

In [6]:
base_df.dtypes

produced_at    datetime64[ns]
dtype: object

In [7]:
files = [f for f in os.listdir("combined")]

In [8]:
COMPLETE.dtypes

produced_at    datetime64[ns]
dtype: object

In [9]:
def gen_power3(files):
    result = COMPLETE
    for f in files:
        final = pd.DataFrame()
        df = pd.read_csv("./combined/" + f, parse_dates=["produced_at"])
        #print(df.dtypes)
        try:
            df2 = df.merge(COMPLETE, on='produced_at', how='right')
        except ValueError:
            print(f)
        if final.empty:
            final = df2
        else:
            final = final.append(df2, sort=False)
        result = pd.merge(result, final, how='left', on=['produced_at'])
    return result.sort_values(by=['produced_at'])

In [ ]:
cdf = gen_power3(files)

07-05-8290552.csv

In [1]:
cdf

NameError: name 'cdf' is not defined

In [2]:
def combine2cdf():
    base_df = pd.DataFrame({'produced_at': pd.date_range(start='2015-01-01', end='2021-01-01', freq='1H')})
    #base_df['produced_at'] = base_df['produced_at'].astype(str)
    pdlist = [base_df]
    for f in os.listdir("combined"):
        #final = pd.DataFrame()
        tmp = pd.read_csv("combined/" + f)
        final = tmp.drop(columns=['produced_at'], axis=1)
        print(tmp.shape)
        #if final.empty:
        #    final = result
        #else:
        #    print("DEBUG!")
        #df['produced_at'] = df['produced_at'].astype(str)
        #df = pd.merge(base_df, df, on="produced_at", how='outer')
        pdlist.append(final)
        #result = pd.merge(result, result, how='left', on=['produced_at'])
        
    
    result = pd.concat(pdlist, axis=1)
        
        #df.merge(DATEDF_LIST[idx], on='produced_at', how='right')
    return result

In [3]:
#cdf = combine2cdf()

In [4]:
cdf

NameError: name 'cdf' is not defined

In [1]:
#cdf['produced_at'] = cdf['produced_at'].astype(pd.datetime64)
cdf['produced_at'] = pd.to_datetime(cdf['produced_at'])

NameError: name 'pd' is not defined

In [119]:
gm = cdf.resample('1M', on='produced_at').sum()

In [120]:
gm

,produced_at,BNA0879,BNA0878,BNA0588,BNA0213,BNA0214,BNA0605,BNA0604,BNA0606,BNA0602,...,BNA0710,BNA0706,BNA0709,BNA0711,BNA0990,BNA0989,BNA0086,BNA0087,BNA0793,BNA0526
produced_at,,,,,,,,,,,,,,,,,,,,,
2015-01-31,NaN,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,----------------------------------------------...,0000000000000000000000000000000000000000000000...,1441431451441441451441521511511521521511511812...
2015-02-28,NaN,0000000000000000000000001922643003263092592722...,2242252272252272262242212142032022032022032032...,8686868686868686868686868685828282838282838282...,----------------------------------------------...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,----------------------------------------------...,...,----------------------------------------------...,2522522512532532522542522522532532772772041501...,0000000000000000000000000000000000000000000000...,----------------------------------------------...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,2022022012022032112112112112112122122122092092...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,2762782822612462732852862862852852842832862862...
2015-03-31,NaN,2102112112112112102112101971811791851871851841...,0000000000000000000000000000000000000000000000...,5044444444444444444444444444444445556666666666...,----------------------------------------------...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,----------------------------------------------...,...,----------------------------------------------...,2691971911651621451461451461451471421301291271...,9149139189179198759028887998839069068808026757...,----------------------------------------------...,1641491551521461472102102112272612712602332512...,1621601571541501532142152152232522402122332572...,1841681681681761681671671671671671671671671671...,0000000000000000000000000000000000000000000000...,0000321402353174465397058178717997427897237528...,1611361401401541912692672702772842692122122142...
2015-04-30,NaN,2302302302292382312172132092072041991991971971...,0000000000000000000000000000000000000000000000...,3636363639546767543636445241363636487579797973...,----------------------------------------------...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,----------------------------------------------...,...,----------------------------------------------...,2682702742762762752782802832832822822832802792...,9109109109119109119119349339309299309079079079...,----------------------------------------------...,0000000000000000000158767376144146148149145152...,0000000000000000000000000025978146172256300307...,1671691691691711791771731721731731731641631631...,1631631641631651691671621621621641641621581581...,0000002112922023928033827721319218719019020231...,2582142242212562172142181631561531901651671651...
2015-05-31,NaN,2385000000000000000000000000000000000000000291...,2462402402382362372312292272262282232232232232...,1111111111111111111111111111113411111111111111...,----------------------------------------------...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,----------------------------------------------...,...,----------------------------------------------...,0000000000000000000000000000000000000000000000...,9089059109119119139149279329289269249029008988...,----------------------------------------------...,2111431411411442122602602602612612612562582933...,2171501451481552032612642632642652641420000000...,1701701671691671671691661711741691671671681671...,1721691681691671671701681721751701671661671691...,2318000000000000000000000000001257402705601289...,1321311311291291952591301201211271281281281281...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-30,NaN,0000000000000000000000000000000000000000000000...,1891901901891901911951941942011931911921911921...,4238384060781041211231301421421401391381391401...,0,0,0,0,0,0,...,0,0,0,0,0,0,0000000000000022283159112929810288000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0
2020-10-31,NaN,1371371361371371381421421411411421421421411431...,0000000000000000000000000000000000000000000000...,1111111111111111111111111111111111111111111111...,0,0,0,0,0,0,...,0,0,0,0,0,0,1761761761761761761761761761761761761761761761...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0
2020-11-30,NaN,1741731661621682292542013143303243263253253293...,0000001432873644034054044014003953983983993993...,1198064801171481571601591591591581571581581581...,0,0,0,0,0,0,...,0,0,0,0,0,0,1571561541441441441572052252242242242252252242...,1311261261271271321471962042042042042042042042...,NaN,0
2020-12-31,NaN,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,0,0
2021-01-31,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
gm2 = gm.reset_index()
#gm2['year'] = gm2['produced_at2']
#gm2['month'] = gm2['produced_at3']

ValueError: cannot insert produced_at, already exists

In [ ]:
def gen_power3(files):
    result = COMPLETE
    for plant, files in FILES_DICT.items():
        final = pd.DataFrame()
        for idx, f in enumerate(files):
            f = "fix/" + f
            df = pd.read_csv(f, parse_dates=["produced_at"])
            df2 = df.merge(DATEDF_LIST[idx], on='produced_at', how='right')
            if final.empty:
                final = df2
            else:
                final = final.append(df2, sort=False)
        result = pd.merge(result, final, how='left', on=['produced_at'])
    return result.sort_values(by=['produced_at'])