In [1]:
import pandas as pd
#from pandas.io.parsers import ParserError
import numpy as np
from helper import get_mapper
import json
import os
import re
from sqlalchemy import create_engine

In [2]:
from os import listdir, stat
from os.path import isfile, join
BASE_DIR = "."
MIN_SIZE = 512

In [3]:
#bpm = pd.read_csv("../basic/block_plant_mapper.csv")
#bpm['plantid'] = bpm['plantid'].apply(lambda x: str(x).replace('/', '_'))

In [4]:
FOLDERS = [os.path.join(BASE_DIR, o) for o in os.listdir(BASE_DIR) if os.path.isdir(os.path.join(BASE_DIR,o))]
FOLDERS.sort()
FOLDERS = FOLDERS[1:-3]

In [5]:
bpm = pd.read_csv("../basic/plant_sse_mapper.csv")
bpm['plantid'] = bpm['plantid'].apply(lambda x: str(x).replace('/', '_'))
plantslist = list(set(bpm['plantid'].to_list()))

In [6]:
plantslist.remove('661-94')
plantslist.remove('661-10')

plantslist.remove('07-05-8290552')
plantslist.remove('06-05-100-0081105')
#plantslist.remove(

In [7]:
#refpl = "03-01-01241117210.csv"

In [8]:
#df = pd.read_csv("./combined/" + refpl)

In [9]:
#df

In [10]:
engine = create_engine('sqlite://', echo=False)

In [11]:
counter = 0
for plant in plantslist:
    #print(plant)
    try:
        print(plant)
        df = pd.read_csv("./combined/" + plant + ".csv")
        df['produced_at'] =  pd.to_datetime(df['produced_at'])
        melt = df.melt(id_vars='produced_at')
        melt.to_sql('power', con=engine, if_exists='append')
        counter += 1
        #print(df.shape)
    except FileNotFoundError:
        pass
print(counter)

666-12
06-09-661-0020-0001
661-88
06-05-112-0458158
661-38
14-20-60319980000
06-08-9840001
06-09-600-0025-0001
06-05-100-0989137
661-67
06-26200010633
661-19
13-50-138
661-54
661-91
661-112
661-43
661-12
661-111
666-13
06-09-500-0112-0001
06-09-674-2071-0001
06-05-900-0327252
06-05-300-9002708
03-07-07244141350
666-16
06-09-761-0026-0001
06-09-100-0003-0003
06-09-500-0354-0002
664-07
06-08-1479296
06-08-1574906
661-83
06-09-671-0140-0001
661-42
661-53
661-98
06-05-900-0021170
06-05-900-0888950
06-05-900-0205103
662-14
06-08-1383701
07-04-6048443
661-109
661-85
06-09-171-0002--C01
03-01-01010356620
06-05-700-9073419
12-50724070000
06-05-100-9021016
06-09-178-0722-0001
06-05-900-0001413
06-11-01-1105602
06-05-500-0342658
06-02-B10117A007
06-10-0075248
662-11
661-87
06-14600010611
06-00176010435
12-40716440000
06-05-900-9141660
661-64
661-113
06-04-11_2001178_8_0
06-11-01-1105609
03-01-01010959490
661-65
13-60-80407
662-06
12-40520430000
06-08-2948214
03-02-02221253020
06-09-261-0007-0041
06-11-01-1105608
06-08-3042693
06-90031210632
12-60510410000
06-08-2142201
06-05-300-0079450
666-14
661-105
666-15
06-05-500-9981505
06-10-00101000
03-09-09281337040
661-115
06-08-1020129
06-11-01-1105604
06-05-700-0008683
03-01-01241117210
666-11
669-01
06-05-700-0020290
06-09-600-0009-0001
661-14
06-08-2951606
14-30-56918040000
03-08-08271405180
06-05-100-0031758
06-08-1371304
18040
662-10
661-75
06-00464010412
13770
06-08-3610519
662-20
662-17
03-04-04224004080
14326
661-03
661-84
661-81
15397
661-100
06-11-01-1105603
13-30-1010101
06-05-100-0888309
661-28
06-05-500-0915123
06-05-900-0320357
06-00464020412
661-17
12-40669070000
03-10-10100029340
06-05-100-0853075
06-11-01-1105502
06-09-100-0001-0002
06-90032200632
13-60-34101
13-30-2102110
662-22
06-05-100-0365906
03-31-31000005008
06-11-01-1105503
11975
06-09-676-2101-0002
03-01-01012110180
06-08-4666496
12305
06-02-BERZ003800
661-102
06-00059010413
661-66
06-05-300-0923949
661-99
662-09
661-86
661-108
06-05-700-0105516
06-05-800-0197010
12-30532000000
01-50-56050192711
16-30-30400102003
18042
06-05-300-0181417
18037
07-05-8030815
06-05-300-0072412
14-70-46630660001
06-05-900-0045033
06-02-B28903H003
14-20-48821410003
06-05-900-0865327
06-05-100-0248923
06-05-900-0235121
06-05-300-0890760
03-03-03267770260
06-05-900-0884101
06-00000130433
07-05-8779480
06-00453010412
03-05-05050072350
06-09-362-0100-0001
14-80-55047380000
661-97
661-78
661-101
06-05-900-9140178
06-09-564-0555-0001
03-09-09261732970
661-37
06-05-900-0271161
661-06
06-05-100-0030712
06-09-279-0013-0001
661-09
03-10-10257401440
06-05-700-0090319
12342
03-01-01244641360
661-16
06-09-100-0088-0005
06-05-100-0167182
06-05-100-0990908
661-96
06-05-100-0030723
16-30-31400103005
06-05-300-9046030
661-106
06-19200010636
06-09-100-0088-0003
06-05-100-0387357
06-05-300-9046797
661-89
06-04-11_2039669_2_0
12358
06-05-100-0431554
06-05-300-0907015
06-05-300-0877384
06-08-34064722
06-09-273-0310-0001
666-18
03-06-06254353820
06-05-100-0154540
16873
662-03
661-36
06-05-100-9020309
06-05-300-0213768
06-09-190-0036-0002
661-110
01-50-04000082392
661-18
661-77
06-09-271-0260-0001
03-09-09281566110
06-05-800-0197054
06-05-900-0079017
03-01-01010098080
06-09-187-4048-0001
06-08-2719371
662-18
661-104
06-08-1741292
13-60-80624
03-02-02020049510
16874
06-08-1195689
06-05-300-0326774
03-06-06060116320
661-15
06-09-500-0368-0001
661-79
661-90
661-80
06-09-100-0088-0001
666-17
13-40-1300408
03-07-07244473830
662-01
06-09-162-0025-0001
06-08-4124448
06-50940010414
661-93
07-04-6021280
06-05-500-0875741
662-28
06-10-0020157
06-05-900-0080266
661-82
06-05-100-0229264
06-05-300-0215520
06-11-01-1105607
06-02-B2A100H003
06-05-100-0501870
662-12
06-10-00101003
661-07
06-11-01-1105501
661-13
03-01-01010157480
06-08-4380932
06-09-187-4135-0001
12-20730670000
06-09-100-0020-0001
01-50-01000004838
06-05-300-0054298
06-00004310411
07-05-8153238
06-05-800-0203946
06-05-100-0018507
16591
661-63
06-76400010631
03-10-10257673950
14-70-51322590000
06-05-300-0838652
06-04-11_2001178_8_2
06-10-00100999
664-02
07-01-126351
06-04-11_2001178_8_1
03-03-03030273580
06-09-171-0009-0B01
14-80-00009560000
661-29
12110
06-05-500-0338944
661-44
661-103
14-60-48821410003
14-70-52316700250
661-11
03-09-09000237910
06-08-2797933
661-107
03-06-06060316030
12-40710010000
06-05-300-0370387
06-05-900-0125939
03-05-05231382180
661-95
661-92
18038
16-62-09401231000
661-59
01-50-02000283604
661-39
77

In [12]:
CDF = pd.read_sql_table('power', engine)

In [13]:
#CDF

In [14]:
#CDF.drop(columns=['index'], inplace=True)
#CDF['produced_at'] =  pd.to_datetime(CDF['produced_at'])
CDF = CDF.set_index('produced_at')

In [15]:
CDF["value"] = CDF["value"].astype(int)

In [16]:
#CDF

In [17]:
CDF2 = CDF.groupby('variable').resample('1M').sum()

# the inverse of groupby, reset_index
CDF3 = CDF2.reset_index()

/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CDF2 = CDF.groupby('variable').resample('1M').sum()
/tmp/ipykernel_48029/2591619358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

In [18]:
CDF3

              variable produced_at     index  value
0              BNA0140  2015-01-31   1319664      0
1              BNA0140  2015-02-28   1567668      0
2              BNA0140  2015-03-31   1975969      0
3              BNA0140  2015-04-30   2256108      0
4              BNA0140  2015-05-31   2658108      0
...                ...         ...       ...    ...
17954  SEE999585452499  2016-08-31  10219836      0
17955  SEE999585452499  2016-09-30  10200000      0
17956  SEE999585452499  2016-10-31  10917227      0
17957  SEE999585452499  2016-11-30  10846704      0
17958  SEE999585452499  2016-12-31  11583108      0

[17959 rows x 4 columns]

In [19]:
#gy = CDF.resample('1Y', on='produced_at').sum()
#gm = CDF.resample('1M', on='produced_at').sum()

In [20]:
gm2 = CDF3.reset_index(drop=True)
gm2['year'] = gm2['produced_at']
gm2['month'] = gm2['produced_at']

In [21]:
gm2['year'] = gm2['year'].apply(lambda x: str(x).split("-")[0])
gm2['month'] = gm2['month'].apply(lambda x: int(str(x).split("-")[1]))
gm2['month'] = gm2['month'].astype(int)

In [22]:
gm3 = gm2.sort_values(by=["year", 'month'])
gm4 = gm3.drop(columns='produced_at')

In [23]:
gm5 = gm4.reindex(columns=['year', "month", "variable", "value"])
gm6 = gm5.sort_values(by=["year", 'month'])

In [24]:
gm7 = gm6.rename(columns={"variable":"blockid", "value": "power"})
gm8 = gm7.reset_index(drop=True)

In [25]:
#gm5 = gm4.melt(id_vars=["year", "month"], var_name='blockid', value_name='power')
#gm5['power'] = gm5['power'].astype(int)

In [26]:
gm8

       year  month          blockid   power
0      2015      1          BNA0140       0
1      2015      1          BNA0143       0
2      2015      1          BNA0145       0
3      2015      1          BNA0146  136961
4      2015      1          BNA0215       0
...     ...    ...              ...     ...
17954  2022     12  SEE996720450723   28162
17955  2022     12  SEE997719859992   54197
17956  2022     12  SEE998199911088  465202
17957  2022     12  SEE998383491525       0
17958  2022     12  SEE999117793854   20388

[17959 rows x 4 columns]

In [27]:
gm7

       year  month          blockid   power
0      2015      1          BNA0140       0
96     2015      1          BNA0143       0
192    2015      1          BNA0145       0
276    2015      1          BNA0146  136961
576    2015      1          BNA0215       0
...     ...    ...              ...     ...
17550  2022     12  SEE996720450723   28162
17646  2022     12  SEE997719859992   54197
17742  2022     12  SEE998199911088  465202
17838  2022     12  SEE998383491525       0
17934  2022     12  SEE999117793854   20388

[17959 rows x 4 columns]

In [28]:
bpm

               plantid            sseid
0    01-50-01000004838  SEE957285549260
1    01-50-01000004838  SEE990438768378
2    01-50-01000004838  SEE966920434281
3    01-50-01000004838  SEE999539592561
4    01-50-01000004838          BNA0273
..                 ...              ...
940     06-10-00101000  SEE943764365964
941  01-50-04000082392  SEE953266686481
942  01-50-04000082392  SEE934591835126
943  01-50-04000082392  SEE961021885321
944  01-50-04000082392  SEE923340224045

[945 rows x 2 columns]

In [29]:
pm1 = gm7.merge(bpm, left_on="blockid", right_on="sseid")
pm2 = pm1.drop('sseid', axis=1)

In [30]:
pm2

       year  month          blockid   power               plantid
0      2015      1          BNA0140       0  06-04-11_2001178_8_0
1      2015      2          BNA0140       0  06-04-11_2001178_8_0
2      2015      3          BNA0140       0  06-04-11_2001178_8_0
3      2015      4          BNA0140       0  06-04-11_2001178_8_0
4      2015      5          BNA0140       0  06-04-11_2001178_8_0
...     ...    ...              ...     ...                   ...
16296  2022      8  SEE913516809497  463120     06-05-500-0915123
16297  2022      9  SEE913516809497  334082     06-05-500-0915123
16298  2022     10  SEE913516809497  259657     06-05-500-0915123
16299  2022     11  SEE913516809497  536936     06-05-500-0915123
16300  2022     12  SEE913516809497  310526     06-05-500-0915123

[16301 rows x 5 columns]

In [31]:
pm2['plantpower'] = pm2.groupby(['plantid', 'month', 'year'])['power'].transform('sum')

In [32]:
pm3 = pm2.drop_duplicates(['month', 'year', 'plantid'])
pm4 = pm3.drop(['blockid', 'power'], axis=1)

In [33]:
ym1 = pm4.copy()
ym1['yearpower'] = ym1.groupby(['plantid', 'year'])['plantpower'].transform('sum')
ym2 = ym1.drop_duplicates(['year', 'plantid'])
ym3 = ym2.drop(['month', 'plantpower'], axis=1)
ym4 = ym3.reset_index(drop=True)

In [34]:
ym4.loc[ym4.plantid == "06-05-100-0248923"]

     year            plantid  yearpower
277  2015  06-05-100-0248923   15389371
278  2016  06-05-100-0248923   21816032
279  2017  06-05-100-0248923   22612318
280  2018  06-05-100-0248923   25510420
281  2019  06-05-100-0248923   17882517
282  2020  06-05-100-0248923   14625943
283  2021  06-05-100-0248923   16556991
284  2022  06-05-100-0248923   21859813

In [40]:
ym4.loc[ym4.plantid == "06-05-500-0915123"]

     year            plantid  yearpower
525  2017  06-05-500-0915123          1
526  2018  06-05-500-0915123          0
527  2019  06-05-500-0915123       1495
528  2020  06-05-500-0915123    2275756
529  2021  06-05-500-0915123    4696684
530  2022  06-05-500-0915123    4558556

In [35]:
ym4.to_csv("yearly.csv", index=False)
ym4.to_csv("yearly_pg.csv", header=False)

In [36]:
gm8.to_csv("monthly.csv", header=False)
#gm7.to_csv("yearly_pg.csv")

In [37]:
#invCDF = CDF.pivot(columns='variable')

In [38]:
gm8

       year  month          blockid   power
0      2015      1          BNA0140       0
1      2015      1          BNA0143       0
2      2015      1          BNA0145       0
3      2015      1          BNA0146  136961
4      2015      1          BNA0215       0
...     ...    ...              ...     ...
17954  2022     12  SEE996720450723   28162
17955  2022     12  SEE997719859992   54197
17956  2022     12  SEE998199911088  465202
17957  2022     12  SEE998383491525       0
17958  2022     12  SEE999117793854   20388

[17959 rows x 4 columns]

In [39]:
bpm

               plantid            sseid
0    01-50-01000004838  SEE957285549260
1    01-50-01000004838  SEE990438768378
2    01-50-01000004838  SEE966920434281
3    01-50-01000004838  SEE999539592561
4    01-50-01000004838          BNA0273
..                 ...              ...
940     06-10-00101000  SEE943764365964
941  01-50-04000082392  SEE953266686481
942  01-50-04000082392  SEE934591835126
943  01-50-04000082392  SEE961021885321
944  01-50-04000082392  SEE923340224045

[945 rows x 2 columns]