In [364]:
import pandas as pd
from scipy import stats
import numpy as np
from pandas.api.types import CategoricalDtype
import re

In [365]:
pl0 = pd.read_excel("../data/Kraftwerksliste_2020_1.xlsx", skiprows=9)
prtr = pd.read_excel("../data/2020-05-19_PRTR-Deutschland_Freisetzungen.xlsx")

In [366]:
pl0nd1 = {0: "blockid", 1: "company", 2: "plantname", 3: "plz", 4: "place", 5: "street", 6: "federalstate", 7: "blockname", 8: "initialop", 9: "state", 10: "e1", 11: "e2", 12: "e3", 13: "energysource", 14: "eeg", 15: "chp", 16: "power"}

In [367]:
list(plants_final)

['plantid',
 'plantname',
 'federalstate',
 'energysource',
 'chp',
 'latestexpanded',
 'initialop',
 'totalpower',
 'state',
 'blockcount',
 'company']

In [368]:
test = list(zip(pl0nd1.keys(), pl0nd1.values(), list(pl0)))

In [369]:
#test

In [370]:
pl0nd2 = {}

for idx, new, old in list(zip(pl0nd1.keys(), pl0nd1.values(), list(pl0))):
    pl0nd2[old] = new

In [371]:
#list(pl0)

In [430]:
cols = [10,11,12,14,17,18,19]
plt = pl0.rename(columns=pl0nd2)
plq = plt.drop(plt.columns[cols],axis=1)

In [431]:
list(plq)

['blockid',
 'company',
 'plantname',
 'plz',
 'place',
 'street',
 'federalstate',
 'blockname',
 'initialop',
 'state',
 'energysource',
 'chp',
 'power']

In [432]:
#list(plq)

In [433]:
#def get_renamed_blocks(df):
#

In [434]:
#list(blocks2)

In [435]:
pl0

,blockid,company,plantname,plz,place,street,federalstate,blockname,initialop,state,e1,e2,e3,energysource,eeg,chp,power,Bezeichnung Verknüpfungspunkt (Schaltanlage) mit dem Stromnetz der Allgemeinen Versorgung gemäß Netzbetreiber,Netz- oder Umspannebene des Anschlusses,Name Stromnetzbetreiber
0,BNA0001,NaN,NaN,52074,Aachen,NaN,Nordrhein-Westfalen,NaN,1997,in Betrieb,Windenergie (Onshore-Anlage),NaN,NaN,Windenergie (Onshore-Anlage),Ja,NaN,15.0,NaN,Mittelspannung (MS),INFRAWEST GmbH
1,BNA1888,STAWAG Energie GmbH,Windpark Aachen Nord GmbH & Co. KG,NaN,Aachen,NaN,Nordrhein-Westfalen,NaN,2017-06-08 00:00:00,in Betrieb,Windenergie (Onshore-Anlage),NaN,NaN,Windenergie (Onshore-Anlage),Ja,NaN,12.1,NaN,NaN,NaN
2,BNA1011,Breeze Three Energy GmbH & Co. KG,Windpark Waldhausen,73433,Aalen,NaN,Baden-Württemberg,NaN,2006-12-30 00:00:00,in Betrieb,Windenergie (Onshore-Anlage),NaN,NaN,Windenergie (Onshore-Anlage),Ja,Nein,14.0,DE0010107343300000000000000287689 & DE 0010107...,Mittelspannung (MS),Netzgesellschaft Ostwürttemberg DonauRies GmbH
3,BNA1938,Papierfabrik Palm GmbH & Co. KG,KWK-Anlage Neukochen,73432,Aalen,NaN,Baden-Württemberg,Neukochen 10,1960-01-01 00:00:00,in Betrieb,Erdgas,NaN,NaN,Erdgas,Nein,Ja,15.0,UW Erlau,Mittelspannung (MS),Stadtwerke Aalen
4,BNA0002,ecoJoule construct GmbH,NaN,28832,Achim,NaN,Niedersachsen,NaN,2002,in Betrieb,Windenergie (Onshore-Anlage),NaN,NaN,Windenergie (Onshore-Anlage),Ja,NaN,13.3,NaN,USp. Hoch- / Mittelspannung (HS/MS),EWE NETZ GmbH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2123,BNA1672,EnBW Energie Baden-Württemberg AG,Walgauwerk,A-06710,Nenzing,Eichholz 1,Österreich,NaN,1984-09-01 00:00:00,Wegfall IWA nach DE,Speicherwasser (ohne Pumpspeicher),NaN,NaN,Speicherwasser (ohne Pumpspeicher),Nein,Nein,86.0,Bürs / Werben,Höchstspannung (HöS),Transnet BW GmbH
2124,BNA0748,Innwerk AG,Oberaudorf-Ebbs,83080,Oberaudorf,Untere Innauen 1,Bayern,Oberaudorf-Ebbs,1992-04-27 00:00:00,Wegfall IWA nach DE,Laufwasser,NaN,NaN,Laufwasser,Nein,Nein,60.0,Schaltanlage vor Ort,Hochspannung (HS),APG/Bayernwerk AG
2125,BNA0816,TIWAG-Tiroler Wasserkraft AG,KW Kaunertal,A-6522,Prutz,NaN,Österreich,Prutz,1964-10-02 00:00:00,Wegfall IWA nach DE,Speicherwasser (ohne Pumpspeicher),NaN,NaN,Speicherwasser (ohne Pumpspeicher),Nein,Nein,392.0,UW Prutz,Höchstspannung (HöS),TIWAG-Netz AG/APG bzw. Amprion
2126,BNA0917,Innwerk AG,Schärding-Neuhaus,A-4782,St. Florian am Inn,Badhöring 16,Österreich,Schärding-Neuhaus,1961-10-12 00:00:00,Wegfall IWA nach DE,Laufwasser,NaN,NaN,Laufwasser,Nein,Nein,96.0,Schaltanlage vor Ort,Höchstspannung (HöS),APG/Bayernwerk AG
2127,BNA0024,TIWAG-Tiroler Wasserkraft AG,KW Amlach,A-9900,Amlach,NaN,Österreich,Amlach,1989-02-05 00:00:00,Wegfall IWA nach DE,Laufwasser,NaN,NaN,Laufwasser,Nein,Nein,60.0,UW Amlach,Hochspannung (HS),TIWAG-Netz AG/APG bzw. Tennet

In [436]:
#prtr

In [437]:
#pl0 = pd.read_csv("../Kraftwerksliste_2020.csv", error_bad_lines=False, engine="python", encoding="latin1", sep=";", skiprows=9)
#prtr = pd.read_csv("../data/2019-11-25_PRTR-Deutschland_Freisetzungen.csv", error_bad_lines=False, engine="python", encoding="latin1", sep=";", skiprows=0)
#pl0 = pd.read_csv("Kraftwerksliste_CSV.csv", error_bad_lines=False, engine="python")
bm = pd.read_csv("block_plant_mapper.csv", error_bad_lines=True, engine="python")

In [438]:
bm['plantid'] = bm['plantid'].apply(lambda x: str(x).replace('/', '_'))

In [439]:
bm.loc[bm.plantid.str.contains("_")]

                  plantid  blockid
572  06-04-11_2001178_8_0  BNA0140
573  06-04-11_2001178_8_0  BNA0144
574  06-04-11_2001178_8_1  BNA0139
575  06-04-11_2001178_8_1  BNA0145
576  06-04-11_2001178_8_1  BNA0146
577  06-04-11_2001178_8_2  BNA0141
578  06-04-11_2001178_8_2  BNA1842
579  06-04-11_2001178_8_2  BNA1820
581  06-04-11_2039669_2_0  BNA0147

In [440]:
prtr.describe()

,jahr,geo_lat_wgs84,geo_long_wgs84,haupttaetigkeit,nace_id,jahresfracht_freisetzung,versehentliche_freisetzung,schadstoff_schwellenwert
count,55208.000000,55180.000000,55180.000000,55208.0,55208.000000,5.520800e+04,5.491000e+04,5.518600e+04
mean,2012.419015,51.100749,9.472607,1.0,2627.947236,1.023602e+08,1.678297e+03,8.973344e+06
std,3.446293,1.557373,2.285275,0.0,1297.723055,1.003942e+09,1.559399e+05,2.841689e+07
min,2007.000000,47.547507,6.089509,1.0,111.000000,1.010000e-04,0.000000e+00,1.000000e-04
25%,2009.000000,50.023316,7.416637,1.0,2013.000000,3.860000e+02,0.000000e+00,1.000000e+02
50%,2012.000000,51.378907,8.976796,1.0,3511.000000,2.666928e+04,0.000000e+00,1.000000e+04
75%,2015.000000,52.154765,11.492513,1.0,3700.000000,3.160000e+05,0.000000e+00,1.000000e+05
max,2018.000000,54.813533,15.000934,1.0,9609.000000,9.730000e+10,2.590000e+07,1.000000e+08

In [441]:
pl0 = plq.loc[:]

In [442]:
pl1 = pl0.loc[pl0["energysource"].isin(["Kernenergie", "Erdgas", "Steinkohle", "Braunkohle", "Steinkohle"])]

In [443]:
#pl1

In [444]:
#pl0.rename(columns={ pl0.columns[10]: "Energieträger_old", pl0.columns[13]: "Energieträger"}, inplace=True)

In [445]:
#pl0

In [446]:
#bm

In [447]:
#pl0.groupby("Energieträger").count()

In [448]:
#list(plt)

In [449]:
plt = pl1.dropna(subset=["blockid"])

In [450]:
plt = plt.astype({"energysource": 'category'})

In [451]:
# remove duplicates blocks in berlin
idxs = plt.index[plt["blockid"].isin(["BNA0083", "BNA0085b"]) & ~plt["state"].isin(["in Betrieb"])].tolist()
plt2 = plt.loc[~plt.index.isin(idxs)]

In [452]:
#plt["Energieträger"] = plt["Energieträger"].astype('category')
#plt["Energieträger"] = plt["Energieträger"].cat.set_categories(["Kernenergie", "Braunkohle", "Steinkohle", "Erdgas", "Mineralölprodukte"], ordered=True)

In [453]:
#plt["Energieträger"] = plt["Energieträger"].astype('category')

In [454]:
#plt.groupby('Energieträger').count()

In [455]:
pl2 = plt2.loc[:]

In [456]:
#pl2.groupby("Energieträger").count()

In [457]:
# plt.dtypes

In [458]:
#pl2 = plt.rename(columns={ pl1.columns[0]: "blockid", pl1.columns[3]: "PLZ", pl1.columns[4]: "Ort", pl1.columns[8]: "Inbetriebnahme", pl1.columns[9]: "Status", pl1.columns[15]: "KWK", pl1.columns[16]: "Nettoleistung"})
#pl3 = pl2.rename(columns={ pl1.columns[1]: "BlockID" })

In [459]:
def to_year(x):
    if type(x) == type(4):
        return x
    elif type(x) == type(2.5):
        return 0 # handle nans
    return int(x[-4:])

In [460]:
def to_year(x):
    dt = pd.to_datetime(x)
    return dt.year

In [461]:
#blocks.loc[blocks.Energieträger == "Kernenergie"]

In [462]:
#pl2

In [463]:
pl2.loc[pl2.blockid == 'BNA0861a', 'initialop'] = 2012
pl2.loc[pl2.blockid == 'BNA1334', 'initialop'] = 2002
pl2.loc[pl2.blockid == 'BNA1141', 'initialop'] = 1970
pl2.loc[pl2.blockid == 'BNA0418', 'initialop'] = 2013
pl2.loc[pl2.blockid == 'BNA1499', 'initialop'] = 1951
pl2.loc[pl2.blockid == 'BNA1502', 'initialop'] = 2013
pl2.loc[pl2.blockid == 'BNA1500', 'initialop'] = 1990
pl2.loc[pl2.blockid == 'BNA1498', 'initialop'] = 1953
pl2.loc[pl2.blockid == 'BNA1260', 'initialop'] = 2013
pl2.loc[pl2.blockid == 'BNA1056', 'initialop'] = 2006


#pl2['Nettoleistung'] = pl2['Nettoleistung'].str.replace('\n','')
#pl2['Nettoleistung'] = pl2[pd.to_numeric(pl2["Nettoleistung"])]
#pl2['Nettoleistung'] = pl2['Nettoleistung'].str.replace(';','.')

In [470]:
#pl2[] = pl2[pd.to_numeric(pl2["Nettoleistung"])]
pl2['initialop'] = pl2['initialop'].apply(to_year)
pl2['power'] = pl2['power'].apply(pd.to_numeric)

In [471]:
#bm[pl2.duplicated(['BlockID'], keep=False)].sort_values("BlockID", ascending=False)

In [472]:
#pl2[pl2.duplicated(['blockid'], keep=False)].sort_values("blockid", ascending=False)

In [473]:
#cols = [10,11,12,14,17,18,19]
#pl3 = pl2.drop(pl2.columns[cols],axis=1)

In [474]:
#pl3.groupby('Unternehmen').max()

In [475]:
#pl3

In [476]:
pl4 = pl3.copy()

In [477]:
def fix_company(company):
    #print(company)
    company_dict = {"RWE": "RWE AG", "Vattenfall": "Vattenfall GmbH", "Uniper": "Uniper SE", "EnBW": "EnBW AG", "Steag": "Steag GmbH", "Nordzucker": "Nordzucker AG", "Lausitz Energie": "LEAG"}
    for key, value in company_dict.items():
        if key in str(company):
            return value
    return company

In [478]:
z = "Endgültig Stillgelegt 2015"

In [479]:
def extract_still(x):
    match = re.findall("[0-9]{4}",x)
    return match[0] if match else np.nan

In [480]:
def extract_state(state):
    if state == "In Betrieb":
        return "in Betrieb"
    elif "Endgültig Stillgelegt" in state:
        return "stillgelegt"
    elif "Vorläufig Stillgelegt" in state:
        return "vorläufig stillgelegt"
    else:
        return state

In [481]:
extract_state(z)

'stillgelegt'

In [482]:
def fix_kwk(x):
    return "Nein" if x == "nein" else "Ja" if x == "ja" else x

In [483]:
#pl4 = pl3.ap

In [490]:
pl4['company'] = pl4['company'].apply(lambda x: fix_company(x))
pl4['endop'] = pl4['state'].apply(lambda x: extract_still(x))
pl4['state'] = pl4['state'].apply(lambda x: extract_state(x))
pl4['chp'] = pl4['chp'].apply(lambda x: fix_kwk(x))

In [491]:
newdf = pl4.copy()

In [492]:
newdf.dtypes

blockid           object
company           object
plantname         object
plz               object
place             object
street            object
federalstate      object
blockname         object
initialop        float64
state             object
energysource    category
chp               object
power            float64
endop            float64
dtype: object

In [493]:
newdf["state"] = newdf["state"].astype('category')
newdf["state"] = newdf["state"].cat.set_categories(['in Betrieb', 'Gesetzlich an Stilllegung gehindert', 'Netzreserve',  'Sicherheitsbereitschaft', 'Sonderfall', 'vorläufig stillgelegt', 'stillgelegt'], ordered=True)

In [494]:
newdf["chp"] = newdf["chp"].astype('category')
newdf["chp"] = newdf["chp"].cat.set_categories(['Ja', 'Nein'], ordered=True)

In [495]:
atest = newdf.groupby("chp")

In [496]:
newdf.groupby("energysource").count()

,blockid,company,plantname,plz,place,street,federalstate,blockname,initialop,state,chp,power,endop
energysource,,,,,,,,,,,,,
Braunkohle,77,77,76,77,77,26,77,69,77,77,77,77,0
Erdgas,315,312,304,315,315,172,315,216,297,312,315,315,0
Kernenergie,9,9,9,9,9,2,9,9,8,9,9,9,0
Steinkohle,120,120,119,120,120,75,120,107,120,112,119,120,0

In [497]:
atest.count()

,blockid,company,plantname,plz,place,street,federalstate,blockname,initialop,state,energysource,power,endop
chp,,,,,,,,,,,,,
Ja,397,394,384,397,397,237,397,286,385,393,397,397,0
Nein,123,123,123,123,123,38,123,114,116,116,123,123,0

In [498]:
pl3 = newdf

In [500]:
atest = newdf.groupby(["power"]).count()
atest.sort_values("initialop", inplace=True, ascending=False)

In [501]:
#print(atest)

In [502]:
atest = pl3.groupby(["state"]).count()
# atest

In [503]:
# pl3.rename(columns={ pl3.columns[10]: "Energieträger"}, inplace=True)

In [504]:
bm[bm.duplicated(['blockid'], keep=False)].sort_values("blockid", ascending=False)

Empty DataFrame
Columns: [plantid, blockid]
Index: []

In [505]:
#bm2 = bm.drop_duplicates()

In [506]:
pl4 = bm.merge(pl3, how="outer", on="blockid")

In [507]:
#pl4[pl4.duplicated(['BlocID'], keep=False)].sort_values("BlockID", ascending=False)

In [510]:
pl5 = pl4[pd.notnull(pl4['blockid'])]
#pl5 = pl4
pl6 = pl5[pd.notnull(pl5['power'])]

In [511]:
# pl6

In [516]:
pl6['plantid'] = pl6['plantid'].apply(lambda x: str(x).replace('/', '_'))

/opt/conda/envs/idp/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [517]:
# pl7 = pl6.replace("/", "_")

In [518]:
#pl7 = pl6.apply(str.replace("/", "_"))

In [519]:
#pl6.loc[pl6.Kraftwerksname == "KW Mittelsbüren"]

In [520]:
pl6['initialop'] = pl6['initialop'].apply(pd.to_numeric)

/opt/conda/envs/idp/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [521]:
blocks = pl6.copy()
stammdaten = pl6.copy()

In [522]:
blocks.sort_values("initialop", inplace=True, ascending=False)
# blocks

In [534]:
plants = blocks.loc[:]
plants = plants.dropna(subset=["plantid", "initialop"]) #TODO: remove initialop from here

In [543]:
plants

,plantid,blockid,company,plantname,plz,place,street,federalstate,blockname,initialop,state,energysource,chp,power,endop
582,nan,BNa1947,BMW AG,Werk 1.5,80937,München,Knorrstraße 147,Bayern,KWK 1-4,2019.0,in Betrieb,Erdgas,Ja,13.60,NaN
431,06-09-162-0025-0001,BNA1946,BMW AG,Werk 1.1,80809,München,Lerchennauerstraße 76,Bayern,KWK 1-3,2019.0,in Betrieb,Erdgas,Ja,13.50,NaN
386,06-11-01-1105607,BNA1935,Vattenfall GmbH,Lichterfelde,12207,Berlin,NaN,Berlin,NaN,2019.0,in Betrieb,Erdgas,Ja,289.00,NaN
399,661-10,BNA1945,Stadtwerke Kiel AG,Küstenkraftwerk K.I.E.L.,24149,Kiel,Hasselfelde 30,Schleswig-Holstein,BHKW Modul 1-20,2019.0,in Betrieb,Erdgas,Ja,188.00,NaN
415,06-09-279-0013-0001,BNA1944,BMW AG,Dingolfing BA2,84130,Dingolfing,Landshuter Straße 56,Bayern,BA2,2019.0,in Betrieb,Erdgas,Ja,13.50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,661-114,BNA0856,TWS Thüringer Wärme Service GmbH,HKW Schwarza,7407,Rudolstadt,NaN,Thüringen,NaN,1936.0,in Betrieb,Erdgas,Ja,26.50,NaN
371,664-02,BNA0196,Mitteldeutsche Braunkohlengesellschaft mbH,Deuben,6682,Teuchern,NaN,Sachsen-Anhalt,NaN,1936.0,in Betrieb,Braunkohle,Ja,67.00,NaN
360,06-05-900-0001413,BNA1331,R.D.M. Arnsberg GmbH,Reno De Medici,59821,Arnsberg,Hellefelderstr. 51,Nordrhein-Westfalen,HD - Kraftwerk,1923.0,in Betrieb,Steinkohle,Ja,18.99,NaN
433,661-34,BNA0755a,Kraftwerk Obernburg GmbH,Obernburg,63784,Obernburg,NaN,Bayern,2,1920.0,in Betrieb,Erdgas,Ja,40.00,NaN
210,06-05-800-0197010,BNA0491,RWE AG,Ville/Berrenrath,50354,Hürth,NaN,Nordrhein-Westfalen,Ville/Berrenrath,1917.0,in Betrieb,Braunkohle,Ja,98.00,NaN

In [535]:
#plants_d = plants.loc[plants.duplicated("KraftwerkID", keep=False)]
# plants_d

In [536]:
#plants_c = plants_d.groupby(["KraftwerkID"]).sum()
#plants_count = plants_d.groupby(["KraftwerkID"]).count()

In [537]:
#plants_f = plants_c.reset_index()

In [538]:
#plants_count = plants_count.loc[:, ["blockid"]]

In [539]:
#plants_count = plants_count.reset_index()
# plants_count

In [540]:
#plants_f = plants_f.merge(plants_count, on="KraftwerkID", how="inner")
# plants_f

In [541]:
#plants[plants.duplicated(['KraftwerkID'], keep=False)].sort_values("BlockID", ascending=False)

In [545]:
plants["energysource"] = plants["energysource"].astype('category')
plants["energysource"] = plants["energysource"].cat.set_categories(["Kernenergie", "Braunkohle", "Steinkohle", "Erdgas", "Mineralölprodukte"], ordered=True)
plants["state"] = plants["state"].astype('category')
plants["state"] = plants["state"].cat.set_categories(['in Betrieb', 'Gesetzlich an Stilllegung gehindert', 'Netzreserve',  'Sicherheitsbereitschaft', 'Sonderfall', 'vorläufig stillgelegt', 'stillgelegt'], ordered=True)
plants["chp"] = plants["chp"].astype('category')
plants["chp"] = plants["chp"].cat.set_categories(['Ja', 'Nein'], ordered=True)
plants["federalstate"] = plants["federalstate"].astype('category')
plants["federalstate"] = plants["federalstate"].cat.set_categories(['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen', 'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen', 'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen', 'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen'])

In [547]:
pl1 = pl0.loc[pl0["energysource"].isin(["Kernenergie", "Erdgas", "Steinkohle", "Braunkohle", "Steinkohle"])]

In [548]:
p_grp = plants.groupby("plantid")

In [549]:
#plants.groupby("Energip_subgrper").max()

In [551]:
p_subgrp = plants.loc[plants['state'].isin(['in Betrieb','Gesetzlich an Stilllegung gehindert'])].groupby('plantid') # TODO: add

In [552]:
plants_act = pd.DataFrame()
for plantid, group in p_subgrp:
    entry = {}
    entry["plantid"] = plantid
    entry["activepower"] = group["power"].sum()
    plants_act = plants_act.append(entry, ignore_index=True)

In [554]:
#plants_act.sort_values('activepower', ascending=False)

In [555]:
#ap = plants.loc[plants.Status == "in Betrieb" | plants.Status == "Gesetzlich an Stilllegung gehindert"]

In [558]:
plants_a = pd.DataFrame()
for plantid, group in p_grp:
    #if not plantid == "06-05-300-9046797":
    #    continue
    entry = {}
    #print(entry)
    entry["plantid"] = plantid
    # entry["BlockID"] = group
    try:
        entry["plantname"] = group["plantname"].value_counts().index[0]
    except IndexError:
        entry["plantname"] = np.NaN
    entry["federalstate"] = group["federalstate"].value_counts().index[0]
    entry["energysource"] = group["energysource"].min()
    try:
        entry["chp"] = group["chp"].min()
    except TypeError:
        #print("aneror")
        #print(plantid)
        #print(group['KWK'].count())
        entry["chp"] = ""
    entry["latestexpanded"] = group["initialop"].max()
    entry["initialop"] = group["initialop"].min()
    entry["totalpower"] = group["power"].sum()
    entry["state"] = group["state"].min()
    entry["blockcount"] = group["blockid"].count()
    try:
        entry["company"] = group["company"].value_counts().index[0]
    except IndexError:
        ;
    #print(entry)
    #break
    plants_a = plants_a.append(entry, ignore_index=True)

In [560]:
#plants_a

In [561]:
#TODO: fix this

In [562]:
#plants_a[pd.isnull(plants_a['initialop'])]

In [563]:
int_list = ['blockcount', 'initialop', 'latestexpanded']
for column in int_list:
    plants_a[column] = plants_a[column].astype(int)
#plant['blockcount'] = pl2['blockcount'].apply(pd.to_numeric)
#pl2['blockcount'] = pl2['blockcount'].apply(pd.to_numeric)
#pl2['blockcount'] = pl2['blockcount'].apply(pd.to_numeric)
#pl2['blockcount'] = pl2['blockcount'].apply(pd.to_numeric)

In [564]:
plants_a.dtypes

blockcount          int64
chp                object
company            object
energysource       object
federalstate       object
initialop           int64
latestexpanded      int64
plantid            object
plantname          object
state              object
totalpower        float64
dtype: object

In [565]:
plants_a["energysource"] = plants_a["energysource"].astype('category')
plants_a["energysource"] = plants_a["energysource"].cat.set_categories(["Kernenergie", "Braunkohle", "Steinkohle", "Erdgas", "Mineralölprodukte"], ordered=True)
plants_a["state"] = plants_a["state"].astype('category')
plants_a["state"] = plants_a["state"].cat.set_categories(['in Betrieb', 'Gesetzlich an Stilllegung gehindert', 'Netzreserve',  'Sicherheitsbereitschaft', 'Sonderfall', 'vorläufig stillgelegt', 'stillgelegt'], ordered=True)
plants_a["chp"] = plants_a["chp"].astype('category')
plants_a["chp"] = plants_a["chp"].cat.set_categories(['Ja', 'Nein'], ordered=True)
plants_a["federalstate"] = plants_a["federalstate"].astype('category')
plants_a["federalstate"] = plants_a["federalstate"].cat.set_categories(['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen', 'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen', 'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen', 'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen'])

In [566]:
plants_a.dtypes

blockcount           int64
chp               category
company             object
energysource      category
federalstate      category
initialop            int64
latestexpanded       int64
plantid             object
plantname           object
state             category
totalpower         float64
dtype: object

In [567]:
plants_a.loc[plants_a.plantid == "06-05-300-0326774"]

,blockcount,chp,company,energysource,federalstate,initialop,latestexpanded,plantid,plantname,state,totalpower
67,9,Ja,RWE AG,Braunkohle,Nordrhein-Westfalen,1965,2002,06-05-300-0326774,Niederaußem,in Betrieb,3656.0

In [568]:
plants_a.loc[plants_a.plantid == "06-00176010435"]

,blockcount,chp,company,energysource,federalstate,initialop,latestexpanded,plantid,plantname,state,totalpower
32,4,Ja,Uniper SE,Steinkohle,Hessen,1970,1992,06-00176010435,Staudinger,in Betrieb,1624.0

In [569]:
plants_a.loc[plants_a.plantid == "06-05-900-0865327"]

,blockcount,chp,company,energysource,federalstate,initialop,latestexpanded,plantid,plantname,state,totalpower
101,9,Nein,RWE AG,Steinkohle,Nordrhein-Westfalen,1973,1984,06-05-900-0865327,Gersteinwerk,in Betrieb,2011.0

In [570]:
#plants_a = plants.drop_duplicates(subset="KraftwerkID")

In [571]:
column_titles = ['plantid', 'plantname', 'federalstate','energysource', 'chp', 'latestexpanded', 'initialop', 'totalpower', 'state', 'blockcount', 'company']
plants_b = plants_a.reindex(columns=column_titles)

In [572]:
#plants_b

In [577]:
#list(blocks)

['plantid',
 'blockid',
 'company',
 'plantname',
 'plz',
 'place',
 'street',
 'federalstate',
 'blockname',
 'initialop',
 'state',
 'energysource',
 'chp',
 'power',
 'endop']

In [578]:
blocks.drop(['place', 'plz', 'street'], axis=1, inplace=True)

In [579]:
blocks[blocks.duplicated(['blockid'], keep=False)].sort_values("blockid", ascending=False)

Empty DataFrame
Columns: [plantid, blockid, company, plantname, federalstate, blockname, initialop, state, energysource, chp, power, endop]
Index: []

In [580]:
#blocks

In [581]:
plants_b.sort_values("initialop", ascending=False, inplace=True)

In [582]:
#drop_list = ['Blockname', 'KWK', 'Nettoleistung', 'Stilllegung', 'Straße und Hausnummer (Standort Kraftwerk)', 'PLZ', 'Ort', 'Nettoleistung']
#plants_g = plants_f.drop(drop_list, axis=1)

In [583]:
#plants_h = plants_g.rename(columns={"KraftwerkID": "plantid", "Gesamtleistung": "totalpower", "Blockzahl": "blockcount", "BlockID": "blockid", "Bundesland": "federalstate", "Energieträger": "energysource", "Inbetriebnahme": "latestexpanded", "Kraftwerksname": "plantname", "Status": "state", "Unternehmen": "company"})

In [584]:
plants_final = plants_b.loc[:]

In [585]:
plants_final.dtypes

plantid             object
plantname           object
federalstate      category
energysource      category
chp               category
latestexpanded       int64
initialop            int64
totalpower         float64
state             category
blockcount           int64
company             object
dtype: object

In [586]:
# plants_final

In [587]:
# stammdaten

In [589]:
# cols = [0,2,3,9,10,11,12]
stammdaten = pl6.copy()
drop_list = ['plantid', 'blockname', 'energysource', 'initialop', 'chp', 'plantname', 'power', 'state', 'endop', 'company']
stammdaten.drop(drop_list, axis=1, inplace=True)

In [590]:
stmp = pl6.copy()
stammdaten2 = stmp.merge(prtr, how="left", left_on="plantid", right_on="kennnummer")

In [591]:
#stammdaten.to_csv("stammdaten.csv", index=False)

In [592]:
#plants_final.to_csv("plants.csv", index=False)

In [593]:
#blocks.to_csv("blocks_3.csv", index=False)

In [594]:
#stammdaten2

In [611]:
DROP_ST = ['blockid', 'jahr', 'kennnummer','betriebsname','betriebsname_2','plz_x','ort','strasse','hausnr','bundesland','flusseinzugsgebiet','taet_nr','taetigkeit','activity','haupttaetigkeit','branche','sector','nace_id','nace_wirtschaftszweig','nace_sector','stoffgruppe','substances_group','schadstoff','pollutant','umweltkompartiment','releases_to','jahresfracht_freisetzung','versehentliche_freisetzung','schadstoff_schwellenwert','einheit','unit','bestimmungsmethode','determination_method','schutzgrund_fracht','confidential_reason_release','schutzgrund_betrieb','confidential_reason_facility']
DROP_ST2 = ['jahr', 'kennnummer','betriebsname','betriebsname_2','plz','ort','strasse','hausnr','bundesland','flusseinzugsgebiet','taet_nr','taetigkeit','activity','haupttaetigkeit','branche','sector','nace_id','nace_wirtschaftszweig','nace_sector','stoffgruppe','substances_group','schadstoff','pollutant','umweltkompartiment','releases_to','jahresfracht_freisetzung','versehentliche_freisetzung','schadstoff_schwellenwert','einheit','unit','bestimmungsmethode','determination_method','schutzgrund_fracht','confidential_reason_release','schutzgrund_betrieb','confidential_reason_facility']
DROP_ST3 = ['jahr', 'kennnummer', 'bundesland', 'flusseinzugsgebiet', "betriebsname", "betriebsname_2", 'taet_nr','taetigkeit','activity','haupttaetigkeit','branche','sector','nace_id','nace_wirtschaftszweig','nace_sector','stoffgruppe','substances_group','schadstoff','pollutant','umweltkompartiment','releases_to','jahresfracht_freisetzung','versehentliche_freisetzung','schadstoff_schwellenwert','einheit','unit','bestimmungsmethode','determination_method','schutzgrund_fracht','confidential_reason_release','schutzgrund_betrieb','confidential_reason_facility']

In [612]:
#DROP_ST = ['jahr']

In [613]:
plants_d1 = plants_final.merge(prtr, how="left", left_on="plantid", right_on="kennnummer")

In [614]:
#plants_d1.dtypes

In [615]:
pld2 = plants_d1.drop_duplicates(['plantid'])

In [616]:
pld3 = pld2.drop(DROP_ST3, axis=1)
plants_final1 = pld3

In [617]:
plants_final2 = plants_final1.merge(plants_act, on="plantid", how='left')

In [622]:
#stammdaten2

In [623]:
#plants_final2.sort_values("activepower", ascending=False)

In [624]:
#stammdaten2.dtypes

In [625]:
stammdaten3 = stammdaten2.drop(DROP_ST, axis=1)

In [626]:
stammdaten4 = stammdaten3.drop_duplicates(['plantid'])

In [627]:
#list(stammdaten2)

In [628]:
'''


"CREATE TABLE blocks(plantid TEXT, blockid TEXT NOT NULL PRIMARY KEY, blockdescription TEXT, federalstate TEXT, energysource TEXT, initialop INTEGER, chp TEXT,
blockname TEXT, netpower REAL, state TEXT, endop TEXT, company TEXT, FOREIGN KEY (blockid) REFERENCES addresses(blockid) ON DELETE CASCADE);"
662-01|BNA0164|Vattenfall GmbH|Brunsbüttel|Schleswig-Holstein|GT D|0.0|stillgelegt|Mineralölprodukte|Nein|63.5|201

'''

'\n\n\n"CREATE TABLE blocks(plantid TEXT, blockid TEXT NOT NULL PRIMARY KEY, blockdescription TEXT, federalstate TEXT, energysource TEXT, initialop INTEGER, chp TEXT,\nblockname TEXT, netpower REAL, state TEXT, endop TEXT, company TEXT, FOREIGN KEY (blockid) REFERENCES addresses(blockid) ON DELETE CASCADE);"\n662-01|BNA0164|Vattenfall GmbH|Brunsbüttel|Schleswig-Holstein|GT D|0.0|stillgelegt|Mineralölprodukte|Nein|63.5|201\n\n'

In [631]:
blocks2 = blocks[['plantid', 'blockid', 'blockname', 'federalstate', 'energysource', 'initialop', 'chp', 'plantname', 'power', 'state', 'endop', 'company']]

In [632]:
list(blocks2)

['plantid',
 'blockid',
 'blockname',
 'federalstate',
 'energysource',
 'initialop',
 'chp',
 'plantname',
 'power',
 'state',
 'endop',
 'company']

In [633]:
stammdaten.to_csv("stammdaten_nh.csv", index=False, header=False)
blocks2.to_csv("blocks_nh.csv", index=False, header=False)
plants_final2.to_csv("plants_nh.csv", index=False, header=False)
stammdaten.to_csv("stammdaten.csv", index=False)
blocks2.to_csv("blocks.csv", index=False)
plants_final2.to_csv("plants.csv", index=False)

In [634]:
stammdaten

,blockid,plz,place,street,federalstate
0,BNA1401a,41517,Grevenbroich,Energiestraße 101,Nordrhein-Westfalen
1,BNA1401b,41517,Grevenbroich,Energiestraße 101,Nordrhein-Westfalen
2,BNA0115,4007,Böhlen,Werkstraße,Sachsen
3,BNA0116,4564,Böhlen,Werkstraße,Sachsen
4,BNA0793,32469,Petershagen,NaN,Nordrhein-Westfalen
...,...,...,...,...,...
576,BNA0146,28237,Bremen,Otavistr. 7-9,Bremen
579,BNA1820,28237,Bremen,NaN,Bremen
580,BNA1334,28237,Bremen,Waterbergstraße 14,Bremen
581,BNA0147,28777,Bremen,Wilhelmshavener Str. 6,Bremen
582,BNa1947,80937,München,Knorrstraße 147,Bayern

In [635]:
#bm2.to_csv("bpm.csv", index=False)

In [636]:
#blocks

In [640]:
#blocks.groupby('Energieträger').count()

In [641]:
#pl4 = blocks.loc[blocks['Energieträger'] == "Mineralölprodukte"]

In [642]:
#pl4

In [643]:
#pd.set_option('display.max_rows', None)

In [644]:
#pl4.loc[pl4['Energieträger'] == "Mineralölprodukte"].sort_values(["Bundesland", "Unternehmen", "Kraftwerksname"])

In [645]:
#plants_final2